/* 
.rc-tree-select-selection {
    border-radius: 3px;
}

.rc-tree-select-search__field__placeholder {
    padding : 2.5px
}

.rc-tree-select-search__field__placeholder > i {
    color : #312f2f
}

.rc-tree-select-selection__rendered {
    height: 28px;
    padding-top: 2px !important;
}


.search_wrap .tree_item {
    height: 28px;
    float: left;
}

.rc-tree-select-selection__choice {
    padding: 0 10px;
    height: 18px;

    margin-top: 0px !important;
}

.rc-tree-select-selection--multiple {
    min-height: 23px;
    height: 28px;
} */

.rc-tree-list div {
    height: calc( 100% - 1px);
    box-shadow: rgb(223 224 233) 0px 0px 5px 1px inset;
    padding: 10px;
}

.rc-tree-list div div {
    height: none;
    box-shadow: none;
    padding: none;
}

.rc-tree-list {
    padding-bottom: 10px;
}

.rc-tree-select-selection {
    border-radius: 0px !important;
}

.rc-tree-select-search__field__placeholder {
    padding : 2.5px;
    line-height: 8px;
}

.rc-tree-select-search__field__placeholder > i {
    color : #312f2f
}

.rc-tree-select-selection__rendered {
    height: 23.33px;
}

.rc-tree-select-selection--multiple > ul > li {
    margin-top: 1px !important;
}

.rc-tree-select-selection--multiple {
    min-height: 22px !important;
}

.tree_item {
    height: 28px;
    float: left;
}

.rc-tree-select-tree li {
    /* margin-left: -15px !important; */
}

.rc-tree-select-dropdown {
    z-index: 9999999 !important;
}

.rc-tree-select-dropdown {
    font-size: 13px !important;
}

.rc-tree-title {
    font-size: 13px !important;
}

.rc-tree-title:hover {
    filter: drop-shadow(2px 0px 6px #d2691e);
    font-weight: 600;
}

.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
    height: 23px !important;
}

.tree_list_item .icon-check {
    color: blue;
    font-size: 16px;
}

.tree_list_item .icon-cancel {
    color: red;
    font-size: 16px;
}
.rc-tree-select .rc-tree-select-selection__choice {
    padding: 0 8px !important;
}

.rc-tree-select-enabled.rc-tree-select-focused .rc-tree-select-selection {
    border-color: #7fb375  !important;
}

.rc-tree-node-selected {
    background-color: #ffe6b000 !important ;
    filter: drop-shadow(2px 0px 4px #d2691e);
    border: none !important;
    font-weight: 600;
    opacity: 1 !important;
}


.rc-tree-select-selection--single {
    height: 25px;
    overflow-y: hidden;
}

.rc-tree-select-selection-selected-value {
    line-height: 23px;
}

.rc-tree-select-tree-node-selected {
    background-color: #7FB375;
    border: 1.5px #74B063 solid;
    color: white;
    opacity: 0.8;
}

.rc-tree-select-dropdown-search .rc-tree-select-search__field {
    height: 24px;
}

.rc-tree-select-tree-title {
    cursor: pointer;
}

.rc-tree-select-selection--single .rc-tree-select-selection__rendered {
    padding-left: 5px;
}

.icon_tree_node .rc-tree-node-content-wrapper {
    margin-left: 18px !important;
}

@media (max-width: 600px) {
    .rc-tree-select {
        width: 30vw !important;
    }
}

@media (max-width: 450px) {
    .rc-tree-select {
        width: 36vw !important;
    }
}