/* ---------------- TAB HEADER ---------------- */
.bmVmoI {
    margin-bottom: 8px;   
    background: transparent;
}

.sc-gzVnrw {
    height: calc(100vh - 56px);
    overflow: auto;
}    

/* header Contents*/
.chqPrB {
    padding:4px 10px 4px 6px;
    margin-right: 5px;
    border: 1px solid #ddd;
    color: #333;
    background-color: #fff;
    font-weight: normal;
    border-radius: 3px;
}
.chqPrB:hover{
    color : #111;
}

.evroUv {
    background: transparent;
}

/* 세개 이상 header Bar */
.evroUv {
    margin-bottom: 8px;

}
/* ---------------- TAB PANEL ---------------- */




/* depth 2 */
.jnZyxb {
    background-color: transparent;
    padding: 0px;
}

.sc-ifAKCX {
    background: transparent;
    margin-left: 0;
    margin-right: 0x;
    float: left;
}

.lhUtmq {
    background: transparent;
    border: none;
    border-radius: 0;
}

/**************************************탭 메뉴 스크롤 이전*********************************************************/
/*탭 전체메뉴*/
.evroUv div:first-child{ 
    border-radius: 0px !important;
    border: 1px solid #ddd !important;
    width: 30px !important;
    z-index: 999;
    background-color: #fff;
}

.evroUv div:first-child:before {
    content: '\e005';
    font-family: "entypo";
    font-size: 16px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 7px;
    color: #5d5c5c;
}

/**************************************탭 메뉴 스크롤시*********************************************************/
.jmHZiv{
    margin-bottom: 8px !important;
    background: none !important;
    padding: 0px 20px 0px 60px !important;
}
.fvdpZL + .guVmec{padding-left:30px;}

/*탭 전체메뉴*/
.jmHZiv div:first-child{ 
    border-radius: 0 !important;
    border: 1px solid #ddd !important;
    width: 30px !important;
    background: #fff;
}

.jmHZiv div:first-child:before {
    content: '\e005';
    font-family: "entypo";
    font-size: 16px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 7px;
    color: #5d5c5c;
}

/*탭 좌측 화살표*/
.jmHZiv div div:first-child{
    width: 18px !important; 
    border-radius: 0px !important;
    border: 1px solid rgb(217, 217, 217) !important;
}
.jmHZiv div div:first-child:before { 
    content: '\25c2';
    font-family: "entypo";
    font-size: 13px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 5px; 
    color: #333; 
} 

/*탭 우측 화살표*/
.jmHZiv div div:last-child{
    width: 18px !important; 
    border-radius: 0px !important;
    border: 1px solid rgb(217, 217, 217) !important;
    z-index: 999999;
}
.jmHZiv div div:last-child:before { 
    content: '\25b8';
    font-family: "entypo";
    font-size: 13px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 5px;
    color: #333;
}

.chqPrB[aria-selected="true"]{
    border: 1px solid #7fb375;
    background: #7fb375;
    color: white;
    font-weight: normal;
    /* line-height: 15px; */
}

.chqPrB[aria-selected="false"]:hover{
    border: 1px solid #7fb375;
    background: #7fb375;
    color: white;
    font-weight: normal;
    /* line-height: 15px; */
}

.iWsTsl {
    display: inline-block;
    color: #777;
    line-height: 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    margin-left: 0px;
}

.iWsTsl:hover {
    color: #7fb375 !important;
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 50%;
}

.chqPrB[aria-selected="true"] .iWsTsl {
    color: #fff;
}
.chqPrB[aria-selected="true"] .iWsTsl:hover{
    color: #185b4e !important;
}

.chqPrB[aria-selected="false"] .iWsTsl:hover{
    color: #fff !important;
}

.gIZEjL {
    line-height: 22px;
}


.cszVDW {
    padding: 4px 8px 4px 21px !important;
    background: #fafafa;
    border: 1px solid #7fb375;
    color: #7fb375;
    margin-right: 3px !important;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.cszVDW:hover {
    color: #7fb375;
}
.cszVDW .gIZEjL:before {
    content: '\2302';
    font-family: "entypo";
    font-size: 12px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 8px;
    line-height: 1;
    color: #dbd2d7;
}

.gIZEjL {
    margin-left: 1px !important;
}
.dVMkWB {
    color: #333;
    padding: 6px 31px 6px 10px;
}
.cszVDW[aria-selected="true"]:before{
    content: '\2302';
    font-family: "entypo";
    font-size: 12px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 8px;
    line-height: 1;
    color: '#fffff';
    z-index: 99;
}

#react-tabtab-tab-0:hover {
    background: #ffffff00 !important;
    color: #aa9494 !important;
}

#react-tabtab-tab-0[aria-selected="false"] span {
    color: #aa9494 !important;
    font-weight: 700;
}

#react-tabtab-tab-0[aria-selected="true"]:hover span {
    color: #aa9494 !important;
    font-weight: 700;
}

#react-tabtab-tab-0[aria-selected="false"] {
    border: 1px solid #a5a5a5 !important;
}

.cszVDW[aria-selected="true"]{
    background: #a5a5a5;
    color: #fff !important;
    border: 1px solid #a5a5a5;
    margin-right: 5px !important;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-left:22px !important;
}

/* .cszVDW[aria-selected="true"] {
    border: 1px solid #7fb375 !important;
    background: #7fb375;
    color: #484848 !important;
    font-weight: bold !important;
} */
#categoryTree #react-tabtab-panel-0{
    background-color: white;
    text-align: left;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #2da6d8;
    margin-top: -9px;
}

#categoryTree #react-tabtab-panel-1{
    background-color: white;
    text-align: left;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #2da6d8;
    margin-top: -9px;
}


/* Custom New Tab */

.tab_border{display: none;}
.tab_headers {
    width: auto;
    white-space: nowrap;
    text-align: left;
    position: relative;
    margin-bottom: -1px;
    height: 39px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab_header {
    float: left;
    border-top: 1px solid #7fb375;
    border-bottom: 1px solid #7fb375;
    border-left: 1px solid #7fb375;
    background: #fff;
    color: #7D7D7D;
    padding: 0px 10px;
    display: inline-block;
    user-select: none;
    cursor: pointer !important;
    height: calc(100% - 6px);
    margin: 6px 0 0 0;
    line-height: 31px;
    font-size: 13px;
}

.tab_header:last-child {
    border-right: 1px solid #7fb375;
}

.tab_active {
    background: #7fb375 !important;
    color: white !important;
    border-top: 1px solid #7fb375;
    border-bottom: 1px solid #7fb375;
    border-left: 1px solid #7fb375;
    font-weight: 900;
}

.tab_active:last-child {
    border-right: 1px solid #7fb375;
}

.tab_header_text {
    line-height: 22px;
}

.tab_content {    
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.2); */
    border-top: 1px solid #7fb375;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}