
 /*datepicker*/
 .react-datepicker-popper {
    z-index: 100 !important;
}
.react-datepicker {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
}
.react-datepicker__navigation{
    line-height: 16px!important;
    top: 10px;
    width: 10px!important;
    border: none !important;
    height: 13px!important;
    width: 15px !important;
    background-size: 16px!important;
    background-position: 0px 0!important;
    background-repeat: no-repeat!important;
    padding: 10px!important;
}

.react-datepicker__navigation--previous{
    background-image: url(../../../style/img/btn_left.png)!important;
    border-right-color:none;
    left:15px ;
}
.react-datepicker__navigation--next {
    right: 15px;
    background-image: url(../../../style/img/btn_right.png)!important ;
    border-left-color: none;
}

.react-datepicker__navigation--years-upcoming {
    top: 0px !important;
    background-image: url(../../../style/img/btn_up.png)!important;
}

.react-datepicker__navigation--years-previous {
    top: 0px !important;
    background-image: url(../../../style/img/btn_down.png)!important;
}

    
.react-datepicker__header {
    background-color: #f9f9f9 !important;
    border-bottom: 1px solid #f9f9f9 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
    padding-bottom: 10px !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
    border-top-color: #7cad73 !important;
    border-width: 5px !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range {
    background-color: #68975f !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected {
    background-color: #7fb375 !important;

}
.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range {
    background-color: #68975f !important;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover {
    background-color: #68975f!important;
}
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
    background-color: #ffffff !important;
}

.react-datepicker__month--selected,
.react-datepicker__month--in-selecting-range,
.react-datepicker__month--in-range {
    padding: 3px;
}

.react-datepicker__month .react-datepicker__month-text {
    padding: 3px;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
    margin-left: 53px !important;
}

.day_select img {
    width: auto;
    padding-top: 2px;
    vertical-align: top;
}

.day_select {
    border: 1px solid #d4d5d8;
    border-left: none;
    padding: 4px 6px;
    margin-top: 0;
    border-radius: 0;
    height: 25px;
    width: 25px;
}
.day_select:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    .input_box.date {
        width: 20vw !important;
    }
}

@media (max-width: 450px) {
    .input_box.date {
        width: 36vw !important;
    }
}


.simple_lb {
    width: 10px !important;
    text-align: center !important;
    padding: 0 !important;
}