.cell_align_center {
    text-align: center;
}

.cell_align_right {
    text-align: right;
}

.cell_readonly {
    background-color:  #e7eaed;
}

.prodShift_10 {
    color: orange !important;
}

.prodShift_20 {
    color: blueviolet !important;
}

.prodShift_30 {
    color: green !important;
}

.highlight_red {
    color: red !important;
    font-weight: 500;
}

.highlight_background {
    color: white !important;
    background-color: blueviolet;
    font-weight: 500;
}

.highlight_red_background {
    background: #36b9cc !important;
    font-weight: 600;
}

.highlight_red_background:hover {
    background: #75e8fa !important;
}

.grid-bottom-summary {
    background: #cc93ff57 !important;
    font-weight: 600;
}

.grid-bottom-summary:hover{
    background: #cc93ff57 !important;
}

.grid-row-total {
    background: #7698ff !important;
    font-weight: 600;
}

.grid-row-total:hover{
    background: #88a6ff !important;
}

.grid-row-subtotal {
    background: #2de2a0 !important;
    font-weight: 600;
}

.grid-row-subtotal:hover {
    background: #66eebc !important;
    font-weight: 600;
}

/* 200220 테이블내 버튼 수정  */
.ag-theme-balham .ag-cell[col-id="buttonColumn"]{
    padding-left:1px;
    padding-right:1px;
}

.ag-react-container .button_item .btn_blue {
    width: 100%;
    height: 20px;
    line-height: 18px;
    border: none;
    background: #ffffff;
    font-weight: normal;
    border: 1px solid rgb(177, 177, 177);
    font-size: 11px;
}

.ag-react-container .button_item .btn_blue:hover{
    background-color: #7fb375 ;
    color: #fff;
}

.download_cell {
    cursor: pointer;
    /* margin-left: 10px; */
    text-decoration: underline;
}

.download_cell i {
    text-align: center !important;
}

.grid-edit {
    background: #CDEEFC !important;
}

.cell_icon {
    float: right;
    cursor: pointer;
}

.unsaved-color {
    background: #F55F50 !important;
}