.ag-cell-select::after {
    content:'';
    background: url(../../../style/img/ico_left_off.png) no-repeat 8px 11px;
    background-size:12px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    color:#999;
    pointer-events: none;
  }

  .grid-row-edit {
    background-color: rgb(174, 206, 253) !important;
}
.ag-header-group-cell {
    line-height: 1.5
}

.ag-header-group-cell-label {
    float: left;
}

.ag-row-span {
    background: white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}

.ag-react-container {
    width: 100%;
}

.ag-row-span-text {
}

.ag-cell-wrap-text {
   white-space: normal !important;
}

.ag-cell {
    white-space: pre;
}

.ag-theme-balham .ag-icon-asc {
    background-position: center 4px;
}
.ag-theme-balham .ag-icon-asc::before {
    content: "\25b4";
    font-family: "entypo";
    font-size: 14px;
    padding-right: 5px;
    color: #bbb;
    font-weight: 100;
}

.ag-theme-balham .ag-icon-desc {
    background-position: center 4px;
}
.ag-theme-balham .ag-icon-desc::before {
    content: "\25be" ;
    font-family: "entypo";
    font-size: 14px;
    padding-right: 5px;
    color: #bbb;
    font-weight: 100;
}


.ag-theme-balham .ag-root {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.ag-root-wrapper *, .ag-root-wrapper *:before, .ag-root-wrapper *:after {
    /* font-family: "Roboto",'Noto Sans KR', sans-serif; */
    letter-spacing: 0;
}

.ag-row .ag-cell {
    vertical-align: middle;
}

/* .ag-theme-balham, .ag-header-cell-label{
    line-height: 22px !important;
} */

.ag-theme-balham {
    background-color: white;
    color: #444;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
    font-family: "Roboto",'Noto Sans KR', "NanumGothic","Helvetica", "AppleGothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.pop_panel_body * .ag-theme-balham {
    height: calc( 100% - 2.5px ) !important;
}


.ag-theme-balham[gridtype="small"] {
    font-size: 10.5px !important;
}

.ag-theme-balham[gridtype="small"] .ag-header {
    font-size: 10.5px !important;
}

.ag-theme-balham .ag-cell {
    line-height : 21px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.ag-theme-balham .ag-ltr .ag-cell {
    border-right : 1px solid rgba(189, 195, 199, 0.5);
    border-bottom : 1px solid rgba(189, 195, 199, 0.5);
}

.ag-theme-balham :not(.ag-row-first).ag-row {
    border-top: 0px;
}

.ag-theme-balham .ag-cell-inline-editing select, .ag-theme-balham .ag-popup-editor select{
    background: url(../../../style/img/ico_left_off.png) no-repeat left 10px;
    padding-top : 4px;
}
.ag-theme-balham .ag-header {
    font-weight: 500;
}
/* .ag-header-row {
    height:26px !important;
} */
/* .ag-theme-balham .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
    line-height:26px !important;
} */

.ag-theme-balham .ag-header-group-cell {
    padding-left: 3px;
    padding-right: 3px;
}
.ag-theme-balham .ag-header-cell::after, .ag-theme-balham .ag-header-group-cell::after {
    border-right : 1px solid rgba(189, 195, 199, 0.5);
    height : 100px;
    margin-top : 0px;
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    width : 100%;
    text-align : center;
    /* height: 21px; */
}

.ag-theme-balham .ag-header-group-cell-label {
    width : 100%;
    margin-bottom: 3px;
}

.ag-theme-balham .ag-header-group-cell-label span {
    width : 100%;
    text-align : center;
    color: #000;
}

.ag-theme-balham .ag-numeric-header .ag-header-cell-label {
    float: inherit;
    flex-direction: row;
}


.ag-theme-balham .ag-icon-checkbox-unchecked { 
    margin-left: 1px;
    margin-bottom: 3px;
} 
.ag-theme-balham .ag-icon-checkbox-checked {
    border-radius: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #ddd;
    display: inline-block;
    
    margin-left: 1px;
    margin-bottom: 3px;
} 
.ag-theme-balham .ag-icon-checkbox-unchecked:before {
    content: "\E907";
    content: ' ';
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 6px;
    /* margin: -2px 6px 0 0; */
    /* text-align: center; */
    /* vertical-align: middle; */
    border: 1px solid #ddd;
    /* margin-left: 1px;
    margin-bottom: 1px; */
    background: white;
}

.ag-theme-balham .ag-icon-checkbox-checked:before {
    content: '\2713';
    text-shadow: none;
    border-color: #ddd;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 6px;
    /* border-radius: 0; */
    font-weight: bold;
    font-size: 12px;
    /* text-align: center; */
    vertical-align: middle;
    padding-left: 1px;
}

.ag-header-cell .ag-icon-checkbox-unchecked{
    margin-bottom: -1px; 
}

/* .ag-header-cell >div>div{
    margin-bottom: -1px !important; 
} */

.ag-theme-balham .ag-cell:fist-child {
    padding-left: 10px;
}
.ag-theme-balham .ag-header-cell-sortable {
    padding-left: 10px;
}
.ag-theme-balham .ag-checkbox {
    padding-left: 3px;
}
.ag-theme-balham .ag-icon-checkbox-checked, .ag-theme-balham .ag-icon-checkbox-indeterminate, .ag-theme-balham .ag-icon-checkbox-unchecked {
    /* background-color: none !important; */
    line-height: 14px;
    /* border-radius: 3px; */
}
 

.ag-theme-balham .ag-icon-checkbox-indeterminate:before {
    content: "\E906";
    content: "\E907";
    content: ' ';
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    /* margin: -2px 6px 0 0; */
    /* text-align: center; */
    /* vertical-align: middle; */
    border: 1px solid #ddd;
    /* background-color: #fff; */
}

.ag-row-span {
    border-left : 0px !important;
    border-bottom : 1px solid rgba(189, 195, 199, 0.5);
}

.ag-cell-focus {
    border: 1px solid #8BC34A !important;
    outline: initial;
}
.ag-header-cell-text {
    /* font-family: 'Dotum';
    font-weight: bold; */
    /* color: #008b8b */

    color: #0099a4;
    font-weight: 600;
}

.ag-theme-balham .ag-row {
    border-style: none
}

/* .ag-theme-balham .ag-row-odd {
    background-color: #fff
} */

/* 
::selection{
    color:transparent;
    background:transparent;} */
   
.ag-cell-inline-editing{ 
    height: 25px !important;     
    border-radius: 0 !important;  
}

/* .ag-cell-focus{
    border:1px solid green !important;  
    height: 25px !important;     
}

.ag-cell-focus div{
    border:1px solid green !important;  
    height: 25px !important;     
} */

/* 권한그룹관리에서 라인 셀렉트시 체크박스 내려가는거 막으려고 주석 걸었는데
혹시 다른 부분 이상하면 풀어야 될 수도 있습니다. */
.ag-theme-balham .ag-row-focus input{    
    /* height: 23px !important;      */
}
.ag-theme-balham .ag-row-focus:last-child input{  
    /* height: 23px !important;    */
}
/* 권한그룹관리에서 라인 셀렉트시 권한그룹 버튼이 작아지고 글자가 올라가는거 막으려고 주석 걸었는데
혹시 다른 부분 이상하면 풀어야 될 수도 있습니다. */
.ag-theme-balham .ag-row-focus input, .ag-cell-range-selected input{ 
font-size: 12px !important;
/* padding-bottom:3px !important;
padding-left:6px !important; */
}

    
.ag-column-inline-focus select, .ag-column-hover select, .ag-cell-range-selected select, .ag-cell-range-selected select::selection,
.ag-theme-balham .ag-row-focus select, .ag-cell-range-selected select{ 
/* background-position-x: 50px !important; */
background-position: right 5px top 10px;
height: 22px !important;
padding-top:0px !important; 
margin-top:0px !important;
padding-bottom:3px !important;
vertical-align: top !important; 
}

.ag-column-inline-focus:last-child select, .ag-column-hover:last-child select, .ag-cell-range-selected:last-child select, .ag-cell-range-selected:last-child select::selection,
.ag-theme-balham .ag-row-focus:last-child select, .ag-cell-range-selecteds:last-child select{  
height: 22px !important;  
}



.ag-theme-balham .ag-header-cell {
    padding-left: 3px;
    padding-right: 3px;
}

.ag-theme-balham .ag-row-focus {
    background-color: #f5ffdd  !important;
}

.ag-theme-balham .ag-row-selected {
    background-color: white;
}

.ag-theme-balham .ag-status-bar {
    border: none !important;
}


.ag-floating-bottom {
    overflow-y: hidden !important;
}

.cellWoStatus10 {
    color: red !important;
    font-weight: bold;
}
.cellWoStatus20 {
    color: orange !important;
    font-weight: bold;
}
.cellWoStatus25 {
    color: yellow !important;
    font-weight: bold;
}
.cellWoStatus30 {
    color: green !important;
    font-weight: bold;
}
.cellWoStatus40 {
    color: blue !important;
    font-weight: bold;
}
.cellWoStatus50 {
    color: navy !important;
    font-weight: bold;
}
.cellWoStatus60 {
    color: violet !important;
    font-weight: bold;
}
.cellWoStatus70 {
    color: blueviolet !important;
    font-weight: bold;
}
.cellWoStatus80 {
    color: yellowgreen !important;
    font-weight: bold;
}
.cellWoStatus90 {
    color: brown !important;
    font-weight: bold;
}
.cellWoStatus99 {
    color: black !important;
    font-weight: bold;
}
.cellOutSourcingYn_N .button_item {
    visibility: hidden;
}
.cellOutSourcingYn_Y .button_item {
    visibility: visible;
}
.useYn_Y {
    color: black !important;
}
.useYn_N {
    color: violet !important;
}

/* row count 스타일 추가 */
label.item_lb.r_count{
    position: relative;
    margin-left: 10px;
    line-height: 12px;
    margin-top: -4px;
    background-color: #f5f7f7;
}
label.item_lb.r_count:before {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 22px;
    background-color: #FFEB3B;
    top: 0;
    left: 0;
}

.ag-theme-balham .ag-ltr .ag-cell.ag-cell-range-selected:not(.ag-cell-range-single-cell) {
    /* 여러 항목 선택했을 경우 border 사라지는 현상 수정 */
    border-right: 1px solid rgba(189, 195, 199, 0.5);
    border-bottom: 1px solid rgba(189, 195, 199, 0.5);
}