.helper {
    display: inline;
    float: left;
}

.helper .btn_ico {
    float: left;
    border: 1px solid #d4d5d8;
    border-left: none;
    padding: 1px 1px;
    margin-top: 0;
    border-radius: 0;
    height: 25px;
    width: 25px;
}

.helper.cell .btn_ico {
    border: none;
    margin-top: -3px;
}

#table .helper .btn_ico {
    margin-top: 2px;
    margin-left: -3px;
}

.ag-react-container .helper {
    display: block;
    float: right;
    position: absolute;
    right: 2px;
}

.ag-theme-balham .ag-cell[col-id="prodDt"] .ag-react-container{
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    width: 80%;
}

.pilot .helper {
    float: none;
}

.pilot .basic {
    display: inline !important;
}

.pilot .btn_ico {
    float: none !important;
}