img.arow_btn {
    position: absolute;
    height: 22px;
    width: 22px;
    top: 25%;
}
img.arow_btn.left{
    left: -5px;
}
img.arow_btn.right{
    right: -5px;
}

.sr_proc_stat_item {
    width: 100%;
    height: 65px;
    position: relative;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.sr_proc_stat {
    float: left;
    width: 65px;
    height: 17px;
    font-size: 12px;
    letter-spacing: -1px;
    text-align: center;
    position: relative;
    background-image: url(../../../../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    padding-top: 37px;
    cursor: pointer;
}
.sr_proc_stat_100{
    background-position: 23px -658px;
}
.sr_proc_stat_200{
    background-position: -39px -658px;
}
.sr_proc_stat_210{
    background-position: -110px -658px;
}
.sr_proc_stat_300{
    background-position: -181px -658px;
}
.sr_proc_stat_400{
    background-position: -251px -658px;
}
.sr_proc_stat_500{
    background-position: -318px -658px;
}
.sr_proc_stat_600{
    background-position: -384px -658px;
}
.sr_proc_stat_900{
    background-position: -448px -658px;
}

/* now */
/* .sr_proc_stat_100.now_100{
    background-position: 23px -694px;
    color: #7fb375;
}
.sr_proc_stat_200.now_200{
    background-position: -39px -694px;
    color: #7fb375;
}
.sr_proc_stat_210.now_210{
    background-position: -110px -694px;
    color: #7fb375;
} */
.sr_proc_stat_300.now_300{
    background-position: -181px -694px;
    color: #7fb375;
}
/* .sr_proc_stat_400.now_400{
    background-position: -251px -694px;
    color: #7fb375;
}
.sr_proc_stat_500.now_500{
    background-position: -318px -694px;
    color: #7fb375;
}
.sr_proc_stat_600.now_600{
    background-position: -384px -694px;
    color: #7fb375;
}
.sr_proc_stat_900.now_900{
    background-position: -448px -694px;
    color: #7fb375;
} */

/* after  */

/* .sr_proc_stat_100.after_100{
    background-position: 23px -622px;
    color:#aaa;
}
.sr_proc_stat_200.after_200{
    background-position: -39px -622px;
    color:#aaa;
}
.sr_proc_stat_210.after_210{
    background-position: -110px -622px;
    color:#aaa;
}
.sr_proc_stat_300.after_300{
    background-position: -181px -622px;
    color:#aaa;
} */
.sr_proc_stat_400.after_400{
    background-position: -251px -622px;
    color:#aaa;
}
.sr_proc_stat_500.after_500{
    background-position: -318px -622px;
    color:#aaa;
}
.sr_proc_stat_600.after_600{
    background-position: -384px -622px;
    color:#aaa;
}
.sr_proc_stat_900.after_900{
    background-position: -448px -622px;
    color:#aaa;
}





.proc_item {
    margin: 0 0 11px 0;
}

.proc_item:last-child {
    margin: 0;
}

.proc_title {
    width: 100%;
    height: 36px;
    background-color: #F9F9F9;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    line-height: 36px;
    padding-left: 10px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.proc_title:hover {
    background-color: #e9f6ea;

}
.proc_detail {
    display: block;
    padding-top: 10px;
}

.proc_detail #table {
    width: 100%;
}

.pop_panel_body .proc_detail table {
    border:none !important;
}
.pop_panel_body .proc_detail table tr{
    border-bottom: none!important;
}

.pop_panel_body .proc_detail table th, .pop_panel_body .proc_detail table .th {
    padding: 5px 14px 5px 10px;
    border-right:none!important;
    background: #fff;
    position: relative;
}
.pop_panel_body .proc_detail table .essential:before {
    content: "᛫";
    color: red;
    position: absolute;
    right: 9px;
    top: -1px;
}
.pop_panel_body .proc_detail table td {
    border-right: none !important;}