.file_item{
    margin-bottom: 3px;
    margin-left: 5px;
    position: relative;
    float: left;
}
/* .file_item label {
    display: inline-block;
    padding: 0px 10px;
    color: #4093c3;
    font-size: 12px;
    line-height: 20px;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #4093c3;
    margin-left: 3px;
   } */
.file_item label {
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 23px;
    vertical-align: middle;
    background-color: #81ac79;
    cursor: pointer;
    border: 1px solid #78a76f;
    margin-left: 3px;
    width: auto;
    left: 42px;
    font-weight: 400;
    height: 25px;
    border-radius: 2px;
}

.file_item label[labeltype="image"] {
    margin-top: 67px;
}

.file_item label[for="file_add_img"]{
    position: absolute;
    top:35px;
}

.file_item input[type="file"]{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
.file_img_wrap{
      display: inline-block;
      width: 156px;
      height: 90px;
      line-height:90px;
      border: 1px solid #d4d5d8;
  }
.file_img_wrap img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}
.file_img_wrap .file_image_item{
    transform: translate(-50%);
    margin-left: 78px;
  }
  
.img_add_ico i{
    font-size: 17px; 
    padding-left: 6px;
    padding-top: 2px;
    cursor: pointer;
}

.img_add_ico .icon-plus-circled{
    color: #4093c3;
}
.img_add_ico .icon-minus-circled{
    color: #f44336;
}