
.pop_panel{
    position: relative;
    /* border: 2px solid #46b1d8; */
    z-index: 9999;
    box-shadow: 1px 1px 13px rgba(0,0,0,0.1);
    border-radius: 15px 15px 15px 15px
}

.pop_panel_head{
    border-radius: 0;
    padding: 7px 15px;
    position: relative;
    background: linear-gradient(105deg, rgb(11 115 26 / 56%) 0%,rgb(49 97 41 / 71%) 96%);
    background: -webkit-linear-gradient(105deg, rgb(11 115 26 / 56%) 0%,rgba(49, 97, 41, 0.71) 96%);
    background: -moz-linear-gradient(105deg, rgba(11, 115, 26, 0.56) 0%,rgb(49 97 41 / 71%) 96%);
    background: -ms-linear-gradient(top, rgba(11, 115, 26, 0.561) 0%, rgba(49, 97, 41, 0.71) 100%);
    background: -o-linear-gradient(105deg, rgb(11 115 26 / 56%) 0%,rgb(49 97 41 / 71%) 96%);

}

.pop_panel_tit{
    font-size: 16px;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    cursor: default;
    padding: 5px 0;
} 

.pop_panel_body {
    clear: both;
    background-color: #fff;
    letter-spacing: 0px;
    /* height: 100%; */
    /* position: relative; */ /* 해당 옵션 활성화 시 DatePicker가 안으로 숨습니다. */
    overflow-y: auto;
    padding: 6px 10px 10px;
    /* position: absolute; */
}

.pop_close {
    cursor: pointer;
    margin-top: 8px;
    float: right;
    width: 16px;
    height: 16px;
}

.wrap_pop_up {
    /* height: 100%; */
    /* 팝업 위로 올라가는것 방지 */
    /* margin-top:130px;  */
}

.pop_panel_body th {
    text-align: right;
    padding: 10px;
}

.pop_panel_body>div {
    /* 팝업에서 화면크기 계산이 이거 때문에 빗나가서 스크롤이 생깁니다.. */
    /* margin: 10px 35px 0 0; */
    /* margin: 7px 5px 0 0; */
    /* width: 300px; */
}
/* 
.pop_panel_body .button_item input {
    margin-right: 3px;
} */

.pop_panel_body .button_item .btn_blue{
    margin-left: 3px;
}
.pop_panel_body .search_item_btn .button_item .btn_blue
, .pop_panel_body .middle_wrap .button_item .btn_blue
{margin-top:0px;}

.pop_panel_body .btn_wrap li {
    margin-left:0px;
}
.pop_panel_body .search_item_btn {
    right: 0px;
}
.pop_panel_body .search_item_btn li{
    margin-left:0;
}
.modal_body {
    min-width: 10px;
    min-height: 10px;
    overflow: auto;
    clear: both;
    position: relative;
}

.pop_panel_body table {
    border-collapse: separate;
    /* border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 2px solid #c5c5c5; */
}

.pop_panel_body table div{
    /* display:inline */
}

.numeric_input_item {
    display: inline;
    vertical-align: top;
}


.pop_panel_body table tr{ 
    border-bottom: 1px solid #fff;
}

.pop_panel_body table th,
.pop_panel_body table .th  {
    font-weight: 500;
    text-align: left;
    padding: 10px 13px;
    border-right:none;
    background: #f3f6ef;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    position: relative;
    border-bottom: 1px solid #fff;
}
.pop_panel_body .essential:before {
    content: "᛫";
    color: red;
    position: absolute;
    left: 7px;
    top: -1px;
}


.th .no_padding {
    padding: 0px;
}

.pop_panel_body table td{ 
    border-right: none;
    padding-left: 3px;
    padding-right: 3px;
    /* border-bottom: 1px solid #f3f6ef;     */
}

.pop_panel_body table .select_box{
    display: inline-block; }

.pop_panel_body .day_select {
    display: block;
}

.pop_panel_body table td:first-child, .pop_panel_body table td:nth-child( 2n-1 ){
    /* border-right: 1px solid #ddd; */
    background: #f5f5f5;
}

.pop_panel_body table td:last-child{ 
    border-right: none;
}

.lastTd {
    border-right: 1px solid #ddd !important; 
}

.pop_panel_body .search_wrap {
    padding: 6px 3px 3px;
    /* margin: 0px 10px; */
    border-top: 2px solid #c5c5c5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    /* background: linear-gradient(to bottom, #ffffff, #fcfdfd,#fafafa); */
    width: 100%;
    box-shadow: none;
}

.pop_panel_body .middle_wrap {
    padding: 5px 0px;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #7fb375;
}

.pop_panel_body .file_item{
    margin-bottom:0 !important;
}

.pop_panel_body .sub_tit {
    font-size: 14px;
    font-weight: 700;
    float: left;
    letter-spacing: -1px;
    padding-top: 16px;
    cursor: default;

}

.pop_panel_body .sub_tit:before{
    width: 4px;
    height: 4px;
    margin-top: -2px;
}

.pop_panel_body .nonStyle .search_wrap{
    border:0; padding:0; margin-bottom:8px;
    }

.pop_panel_body select { 
    /* selectBox readOnly 적용 시 색상부여되지 않아서 아래 주석했습니다.*/
    /* background: #fff; */
}

/* .pop_panel_body  .middle_wrap { 
    padding: 0px;
    overflow: hidden;
    background: #fff;
    line-height: 0px;
    height: 31px;
} */

.pop_panel_body .basic .contents_wrap {padding:0 !important;}
.pop_panel_body .contents_wrap {padding:0 !important; }

.pop_tab_wrap {
    margin: 8px 0 5px 10px;
}

.pop_tab_menu {
           overflow: hidden;
}

.pop_tab_menu_list {
           padding-left: 0px;
           position: relative;
           display: inline-block;
           margin: 0px;
           list-style: none;
           transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.pop_tab_menu_list_li[aria-selected="true"] {
           border: 1px solid #1b9ace;
           background: #2da6d8;
           color: white;
           /* line-height: 15px; */
}
.pop_tab_menu_list_li {
            padding: 4px 8px 4px 5px;
           /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
           margin-right: 3px;
           background-color: white;
           border: 1px solid #6a96a8;
           color: #166484;
           font-weight: bold;
               float: left;
}

.pop_tab_menu_list_li[aria-selected="true"] .tab_btn {
           color: #fff;
}


.pop_tab_menu_list .tab_text {
           vertical-align: middle;
}

.pop_tab_menu_list .tab_btn {
           display: inline-block;
           color: #777;
           margin-left: 5px;
           /* padding: 2px; */
           vertical-align: middle;
           border: 0;
           outline: 0;
           background: transparent;
           margin-left: 2px;
           margin-right: 2px;
           float: left;
           width: 15px;
           padding: 0; 
          font-size:16px;
}
button {
           -webkit-appearance: button;
           -webkit-writing-mode: horizontal-tb !important;
           text-rendering: auto;
           color: buttontext;
           letter-spacing: normal;
           word-spacing: normal;
           text-transform: none;
           text-indent: 0px;
           text-shadow: none;
           display: inline-block;
           text-align: center;
           align-items: flex-start;
           cursor: default;
           background-color: buttonface;
           box-sizing: border-box;
           margin: 0em;
           font: 400 13.3333px Arial;
           padding: 1px 6px;
           border-width: 2px;
           border-style: outset;
           border-color: buttonface;
           border-image: initial;
}

.pop_tab_menu_list .tab_btn > svg {
           vertical-align: middle;
}


/* 모달팝업내 인풋,셀렉박스  */
.pop_panel_body .input_item:nth-child(even) {
    /* margin-right: 3px;
    margin-left: -1px; */
}

.pop_panel_body .select_box{    
    margin-right: 3px;
    /* margin-left: -1px; */
}

.pop_panel_body .input_item:nth-child(odd) .search_box.readOnly {
    background-color: #efefef !important;
}

.pop_panel_body .search_line .select_item{
    float: left;
}

.pop_panel_body:before {
    /* content: "";
    display: block;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.06);
    position: absolute;
    top: 108px;
    left: -10px;
    width: 1200px;
    z-index: 0; */
}

.pop_panel_body .ag-center-cols-viewport{
    background-color: #fff;
}

/* .pop_panel_body .ratio_h30 .button_item .btn_blue,.pop_panel_body .ratio_h25 .button_item .btn_blue{
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    padding: 0px 13px;
    line-height: 23px;
    height: 22px;
    margin-top: -1px;
    background-color: #1c9bd0;
} */
.pop_panel_body .ratio_h30 .sub_tit,.pop_panel_body .ratio_h25 .sub_tit  {
    font-size: 13px;
    font-weight: 700;
    float: left;
    letter-spacing: -1px;
    padding-top: 6px;
    cursor: default;
    padding: 8px 0px;
}

.pop_panel_body .ratio_h15+.ratio_h30 {
    /* margin-top: 12px; */
}

.pop_background {
    position: absolute;
    top: 44px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}

.pop_background2 {
    background-color: green;
    z-index: 9998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}


/* 팝업에서 essential */
.pop_panel_body .essential:before {
    content: "᛫";
    color: red;
    position: absolute;
    left: 7px;
    top: -1px;
}

.pop_panel_body .contents_wrap.fl {
    box-shadow: none !important;   
}


@media (min-width: 200px) and (max-width: 1024px) {
    .pop_panel_body::-webkit-scrollbar {
        display: none;
        width: 0 !important; 
    }

    .pop_panel_body {
        overflow: scroll;
        -ms-overflow-style: none;
    }

    /* Force table to not be like tables anymore */
	.pop_panel_body table, thead, tbody, tr { 
		display: block; 
	}

    	/* Hide table headers (but not display: none;, for accessibility) */
	.pop_panel_body thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    .pop_panel_body tr { border: 1px solid #fff; }

    .wrap_pop_up {
        height: 100% !important;
        width: 100vw !important;
    }

    .wrap_pop_up .pop_panel_body {
        height: 100% !important;
        width: 100vw !important;
    }

}

@media (min-width: 661px) and (max-width: 1023px) {
    .pop_panel_body table th, .pop_panel_body table .th{
        width: 15vw !important;
        max-width: 15vw !important;
    }

    .pop_panel_body #contents {
        height: 100% !important;
    }   
}

@media (max-width: 660px) {
	
    .pop_panel_body #contents {
        height: 100% !important;
    }

    .pop_panel_body table th, .pop_panel_body table .th {
        max-width: 100% !important;
    }

    .pop_panel_body th { 
		display: block; 
	}

    table[tabletype="th_w100"] th {
        width: auto !important;
    }
}

li.no-cursor:hover {
    filter: invert(0.6);
}

#service_request_reg_save_p .middle_wrap {
    border-bottom: none
}

#service_request_reg_save_p .react-resizable-handle-se {
    display: none;
}

.react-resizable-handle-se {
    display: none;
}


 .react-resizable-handle-se {
    display: none;
}


#service_request_todo_sr_detail_main_p .react-resizable-handle-se {
    display: none;
}

#service_request_todo_sr_detail_main_p  .middle_wrap {
    border-bottom: none !important;
}

#service_request_todo_sr_detail_main_p .appr_profile {
    float: left;
    padding: 10px;
    margin: 10px 43px 10px 10px;
    border: 1px #f5ebeb solid;
    box-shadow: inset 0px 0px 11px 1px rgb(223 224 233);
    border-radius: 20px;
    height: 56px;
    width: 205px;
}

#service_request_todo_sr_detail_main_p .appr_profile div * {
    cursor: default;
}

#service_request_todo_sr_detail_main_p .appr_profile div {
    cursor: default;
}

#service_request_todo_sr_detail_main_p .appr_arrow {
    width: 25px;
    float: left;
    margin: -32px 40px 0px 205px;
    filter: hue-rotate(20deg);
}

.appr_profile_req {
    float: left;
    padding: 10px;
    margin: 10px 43px 10px 10px;
    border: 1px #f5ebeb solid;
    box-shadow: inset 0px 0px 11px 1px rgb(223 224 233);
    border-radius: 20px;
    height: 56px;
    width: 205px;
}

.appr_profile_receive {
    float: left;
    padding: 10px;
    margin: 10px 43px 10px 10px;
    border: 1px #f5ebeb solid;
    box-shadow: inset 0px 0px 11px 1px rgb(223 224 233);
    border-radius: 20px;
    height: 56px;
    width: 205px;
}

.appr_profile_p {
float: left;
    padding: 10px;
    margin: 10px 43px 10px 10px;
    border: 1px #f5ebeb solid;
    box-shadow: inset 0px 0px 11px 1px rgb(223 224 233);
    border-radius: 20px;
    height: 56px;
    width: 205px;
}

.appr.appr_profile_p {
    background: linear-gradient(105deg, #7fb375bf,#92e88ec9);
    box-shadow: inset 0px 0px 11px 1px rgb(79 132 80 / 78%);
}

.reject.appr_profile_p {
    background: linear-gradient(105deg, #c57063ed,#ea8585ab);
    box-shadow: inset 0px 0px 11px 1px rgb(169 46 34 / 78%);
}
        
.appr_profile_p .appr_arrow {
    width: 25px;
    float: left;
    margin: -31px 40px 33px 205px;
    filter: hue-rotate(-10deg);
}

.appr_profile_p.curr {
    animation: curr_appr 1.5s infinite;
}

@keyframes curr_appr {
    100% {box-shadow: inset 0px 0px 3px 1px #7fb375};
}


#service_request_todo_sr_detail_main_p .apprEmpNm {
    text-align: center;
    font-weight: 900;
    font-size: 13.5px;
}

#service_request_todo_sr_detail_main_p .apprDeptNm {
    text-align: center;
    font-weight: 600;
    font-size: 12.5px;
}

.appr_profile:hover {
    box-shadow: inset 0px 0px 3px 1px rgb(89 199 179);
}

.appr_arrow {
    width: 25px;
    float: left;
    margin: -37px 40px 33px 205px;
    filter: hue-rotate(20deg);
}

.apprIcon {
    width: 56%;
    filter: hue-rotate(64deg);
    margin-left: 22%;
}

.appr_profile div * {
    cursor: alias;
}

.appr_profile div {
    cursor: alias;
}

.appr_profile div:hover  {
    filter: hue-rotate(50deg);
}

.apprEmpNm {
    text-align: center;
    font-weight: 900;
    font-size: 14px;
}

.apprDeptNm {
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appr_desc {
    padding: 2px;
    font-weight: 600;
    color: #6f80c5;
    font-size: 11px;
}

.appr_edit {
    float: left;
    /* float: left; */
    padding: 10px;
    margin: 10px;
    border: 1px #f5ebeb solid;
    box-shadow: inset 0px 0px 11px 1px rgb(223 224 233);
    border-radius: 20px;
    cursor: alias;
    height: 56px;
    width: 170px;
}

.appr_edit:hover {
    filter: hue-rotate(92deg );
    box-shadow: inset 0px 0px 3px 1px rgb(89 199 179);
}

.apprEmpAdd {
    display: inline;
}

.apprEditTit {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    filter: drop-shadow(2px 2px 6px #8034c0d9);
}

.appr_edit img {
    width: 66% !important;
    filter: hue-rotate(64deg) !important;
    margin-left: 18% !important;
}


.apprDelete {
    filter: drop-shadow(2px 2px 2px black);
    position: inherit;
    margin: -3px 125px 0px 160px;
    /* box-shadow: inset 0px 0px 11px 1px rgb(211 236 162); */
    width: 16px;
    z-index: 999;
    cursor: pointer;
}

.apprDelete:hover {
    filter: drop-shadow(2px 3px 2px #f00);
}


.reqDetailOpen {
    display: block;
}

.reqDetailClose {
    display: none;
}

.req.active {
    display: contents;
}

.req.none {
    display: none;
}