.pt5 {
    padding-top:6px;
}

.input_box {
    /* font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #777;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0;
    font-family: "Noto Sans KR", sans-serif;
    padding-right: 5px;
    margin-top: 0;
    height: 25px;
    margin-right:2px; */
    padding: 3px 9px 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d4d5d8;
    /* border-color: #cccccc; */
    border-radius: 1px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: 'Roboto','Noto Sans KR',"Nanum Gothic", sans-serif;
    padding-right: 5px;
    /* margin-top: 1px; */
    height: 25px;
}

.input_box.text {
    padding-left: 7px;
    text-align: left;
    width: 170px;
}

input[type=search].search_box {
    padding: 4px;
    border: 1px solid #ddd;
    text-overflow: ellipsis;
    font-size: 12px;
    height: 25px;
}

@media(max-width: 499px) {
    input[type=search].search_box {
        padding: 4px;
        border: 1px solid #ddd;
        font-size: 12px;
        height: 25px;
    }
}

@media(min-width: 500px) {
    input[type=search].search_box {
        padding: 4px;
        border: 1px solid #ddd;
        font-size: 12px;
        height: 25px;
    }
}

.search_wrap .input_item {
    height: 28px;
    float: left;
}


tr .helper .input_item {
    display: inline;
    float: left;
}

.linked .input_item {
    display: inline;
    float: left;
}

tr .linked .numeric_input_item {
    display: inline;
    float: left;
    padding: 2px 0;
}

.textarea {
    /* margin-bottom: 5px; */
    /* margin-top: 10px; */
    white-space: pre-line;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: 'Roboto','Noto Sans KR',"Nanum Gothic", sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ddd;
    /* border-color: #cccccc; */
    border-radius: 1px;
}

.popupText .textarea {
    margin-top: 3px;
    margin-bottom : 3px;
}

.popupText2 .textarea {
    margin-top: 3px;
    margin-bottom : 3px;
    margin-right: 10px;
}

.popupText3 {
    margin : 0px;
}

/* 20200207추가_테이블내에 인풋 여백 */
#table .input_item {
    padding: 2px 0;
}

#table .react-datepicker-wrapper {
    padding: 2px 0;
}

.tablePilot th {
    text-align: center !important;
}

.tablePilot td {
    background: white !important;
    padding: 0px !important;
    margin: 0px !important;
    text-align: -webkit-center;
}

.tablePilot .select_box {
    overflow: visible !important;
    margin: 0px !important;
    margin-left: 0px !important;
    margin-right : 0px !important;
    border : 0px !important;
}

.tablePilot .pop_panel_bo   {
    margin: 0px !important;
    margin-left: 0px !important;
    margin-right : 0px !important;
}

.tablePilot .w250 {
    width: 100% !important;
    border : 1px solid white !important;
}


.linked .input[type=search].search_box {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 12px;
    height: 25px !important; 
}

@media (max-width: 600px) {
    .input_item input{
        width: 30vw;
    }
    .input_item textarea{
        width: 30vw;
    }
    #helperCode {
        width: 15vw;
    }
    #helperCodeNm {
        width: 15vw ;
    }

    .pop_panel_body * .input_item textarea{
        width: 20.5em !important;
    }
}


@media (max-width: 450px) {
    .input_item input{
        width: 36vw ;
    }

    .input_item textarea{
        width: 36vw ;
    }

    #helperCode {
        width: 18vw ;
    }

    #helperCodeNm {
        width: 18vw ;
    }      

    .pop_panel_body * #helperCodeNm,#helperCode{
        width: 20.5em !important;
    }

    .pop_panel_body * .input_item textarea,.input_item input {
        width: 20.5em !important;
    }
}

