.search_wrap .search_line .button_item {
    float: right;
    margin-top: 1px;
}
.search_wrap .search_line {
    padding-left:5px;
}

.btn_save {
    /* float: right; */
    padding: 2px 0px;
    border: 1px solid #ddd;
    margin-left: 5px;
    text-align: center;
    background: linear-gradient(to bottom, #fff, #f5f5f5,#e9e9e9);
    width: 47px;
    cursor: pointer;
}

.btn_save:hover{
    /* background: #787878; */
    background: linear-gradient(to bottom, #ffffff, #f1f1f1,#e3e3e3);
    border: 1px solid #ccc;
    /* color: #444; */
    transition: all 0.3s;
}

.btn_pur{
    font-size: 12px;
    color: #444;
}

.btn_user {
    padding: 5px 8px 5px 12px;
    background-color: #fff;
    display: inline-block;
    color: #666;
    margin-right: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    border: 0;
    display: inline-block;
    letter-spacing: -1px;
}

/*신규 css추가*/
.search_item_btn {
    position: relative;
    right: 7px;
    float: right;
}

.search_item_btn li {
    display: inline-block;
    margin-left: 3px;
}

.search_item_btn li button i {
    margin-left: 2px;
}

.btn_blue { 
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    white-space: nowrap;
    padding: 0px 7px;
    font-size: 12px;
    line-height: 25px;
    height: 25px;
    font-weight: normal;
    color: #444;
    border: 1px solid #c0c0c0;
	float:right;	
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 137px;
    border-radius:2px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.btn_blue:hover {
    background-color: #f7faf2;
    animation: btnhover 1.3s infinite;
    box-shadow: 2px 3px 7px 0px #d2e9cd;
}

@keyframes btnhover {
    10% {background-color: #d2e9cd;}
    10% {box-shadow: 2px 3px 7px 0px #f7faf2};
}

.btn_blue_c{ 
    display: inline-block;
    margin-bottom: 0; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    white-space: nowrap;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    height: 23px;
    background: #4093c3;
    color: #fff;
    border: 1px solid #4093c3;
	float:right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 95px;
}

.btn_blue[value="선택"]:hover {
    background-color:#7fb375;
    color:#fff
}
/* 버튼 앞부분 아이콘 추가 */
/* btn_blue_공통 더이상 없을때 같은 부분 묶어주기
.btn_blue:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
} */

.ag-react-container .btn_blue:before {
    content: none !important;
}

.btn_blue[value="추가"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 4px 5px;
    top: 3px;
    width: 3px;
    background-position: -187px -755px;
}

.btn_blue[value="조회"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -163px -756px;
}

.btn_blue[value="복사"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -254px -756px;
}
.btn_blue[value="삭제"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -8px -756px;
}
.btn_blue[value="전송"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 4px;
    background-position: -230px -756px;
}
.btn_blue[value="수정"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -118px -756px;
}

.btn_blue[value="점검 시작"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -408px -756px;
}
.btn_blue[value="저장"]:before {
    content: "";
    display: inline-block;
    background-image: url(../../../style/img/ico_set_all.svg);
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    height: 7px;
    padding: 3px 5px;
    top: 2px;
    width: 3px;
    background-position: -300px -756px;
}
.search_item {
    height: 28px;
    float: left;
}

.search_line .input_item {
    padding: 0px;
}

.pilot .input_item {
    display: inline !important;
}

.toggle_warp{
    /* padding-top: 3px; */
    margin-left: 3px;
}
.toggle_label {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 21px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: bottom;
    margin-top: 1px;
    /* margin-right: 20px; */
}

.toggle_label input[type=checkbox] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle_label input[type=checkbox] + .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #666;
    transition: background 150ms linear;
    border-radius: 50px;
}

td .toggle_label input[type=checkbox] + .back {
    top: 3px;
}

.toggle_label input[type=checkbox]:checked + .back {
    background: #7fb375;
}

.toggle_label input[type=checkbox] + .back .toggle {
    display: block;
    position: absolute;
    content: ' ';
    background: #fff;
    width: 50%;
    height: 100%;
    transition: margin 150ms linear;
    border-radius: 50px;
    border: 1px solid #c9c9c9;
    left: -1px;
}

.toggle_label input[type=checkbox]:checked + .back .toggle {
    margin-left: 33px;
}

.toggle_label .label {
    display: block;
    position: absolute;
    width: 60%;
    color: #fff;
    text-align: center;
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

.toggle_label .label.on {
    left: 0px;
}

.toggle_label .label.off {
    right: 0px;
}

.toggle_label input[type=checkbox]:checked + .back .label.on {
    color: #fff;
}

.toggle_label input[type=checkbox] + .back .label.off {
    color: #fff;
}

.toggle_label input[type=checkbox]:checked + .back .label.off {
    color: #fff;
}

.btn_ico img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 4.5px; 
    margin-top: 3px;
    opacity: 1;
}

.btn_ico img:hover{
    filter: drop-shadow(1px 1px 2px black);
}

tr .linked .button_item {
    display: inline;
    float: left;
    margin:3px 0 2px 2px;
    /* margin-top: -5px !important; */
}

tr .right_linked .button_item {
    display: inline;
    /* float: right; */
}

.tab_button_item li {
    margin-top: 5px;
}

.linked .btn_ico .ico {
    margin-top: 5px;
}