@charset "utf-8";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size:12px;
    font-family: 'Roboto','Noto Sans KR',"Nanum Gothic", sans-serif;
    color:#333;
    background-color:#fff;
    letter-spacing: -0.4px;
    /* scrollbar-arrow-color: #666;
    scrollbar-Track-Color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-Face-Color: #e9e9e9;
    scrollbar-3dLight-Color: #fff;
    scrollbar-DarkShadow-Color: #e9e9e9;
    scrollbar-Highlight-Color: #f2f2f2;
    scrollbar-Shadow-Color: #e9e9e9; */
	scrollbar-highlight-color: #fff; scrollbar-shadow-color: #b9b9b9; scrollbar-arrow-color: #b5b5b5; scrollbar-face-color: #c9c9c9; scrollbar-3dlight-color: #ccc; scrollbar-darkshadow-color: #fff; scrollbar-track-color: #fff;
	scrollbar-highlight-color: #fff; scrollbar-shadow-color: #ccc; scrollbar-arrow-color: #ccc; scrollbar-face-color: #fff; scrollbar-3dlight-color: #ccc; scrollbar-darkshadow-color: #fff; scrollbar-track-color: #fff;

}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar {
	width: 4px;
	height: 8px;
	background:#fff;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 2px;
}
::-webkit-scrollbar-track {
	background: #f9f9f9;
	-webkit-border-radius: 5px;
	border-radius:5px;
	box-shadow:inset 1px 1px 1px #e7e7e7;
}
::-webkit-scrollbar-thumb {
	background:#d7d7d7;
	-webkit-border-radius: 5px;
	border-radius:5px;
}


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,
menu,nav,section,summary,time,mark,audio,video{
	margin:0; padding:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

ol:not(.fr-view ol),ul:not(.fr-view ul){ list-style:none; }
li { list-style-type:none; }
.fr-view ol { margin-left: 20px; }
.fr-view ul { margin-left: 20px; }
.fr-view ol li { list-style-type: unset; }
.fr-view ul li { list-style-type: unset; }
table{border-collapse:collapse;border-spacing:0;}
img{max-width:100%;height:auto;}
mark{background:none}
select{max-width:100%;  padding:0px 0px;}
caption, legend {display:none;}
hr{display:none;}
h1,h2,h3,h4,h5,h6 { font-size:100%; }
address,strong{font-style:normal; font-weight:normal;}
table {border-collapse:collapse; }


/* LINK */
A:link{text-decoration:none}
A:visited{text-decoration:none}
A:active{text-decoration:none}
A:hover{text-decoration:none}

iframe {
	border:none;
}

article, aside, canvas, details, figcaption, figure, footer,header,hgroup,menu,nav,section,summary {
	display:block;
}


:focus {
outline: 0;
}
input, select {
    box-shadow: none;
    font-family: 'Roboto','Noto Sans KR',"Nanum Gothic", sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
select::-ms-expand {
    display: none;
}


input[type="text"],
input[type="password"] {
    /* padding: 0px 1px 0px 1px; */
}

.input,
.input_text,
.input_label {
    border: 1px #d4d5d8 solid;
    height: 22px;
    padding: 0 2px;
    font-size: 12px;
}

select {
    /* width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 5px;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 1;
    box-shadow: none;
    border: 0;
    background-image: none;
    font-size: 12px;
    color: #666; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 5px;
    cursor: pointer;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 1;
    box-shadow: none;
    border: 0;
    background-image: none;
    font-size: 12px;
    color: #666;
    line-height: 23px;
}

/*라벨스타일*/
label.item_lb {
    float: left;
    /* content: attr(custom); */
    padding: 3px 8px;
	font-weight: 500;
	line-height: 19px;
    text-align: right;
    display: inline-block;
    min-width: 15px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


@media (max-width: 450px) {
    .item_lb {
        width: 22vw !important;
    }

    .pop_panel_body * .item_lb {
        width: 3em !important;
    }

    .check_box .item_lb {
        width: auto !important;
    }
}

/*
label.item_lb:hover {
    content:  attr(custom);
    border: 1px solid #000;
    box-shadow: 1px 1px 3px #777;
    animation: tooltipAni 1s;
    transition: opacity 1s;
    position: absolute;
    top: 5px;
    left: 5px;
    background: #fff;
} */
/*
label.item_lb {
    text-align: right;
    display: inline-block;
    min-width: 15px;
} */

/* th,td{border:1px solid red;} */

/* 
.shadow {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
} */

/*common*/

@media (min-width: 1280px) {
    .w100 { width: 100px; }
}

@media (max-width: 1279px) {
    .w100 { width: 8.3vw }
}

@media (max-width: 1100px) {
    .w100 { width: 9.1vw }
}

@media (max-width: 1000px) {
    .w100 { width: 10vw }
}

@media (max-width: 900px) {
    .w100 { width: 11.1vw }
}

@media (max-width: 800px) {
    .w100 { width: 12.5vw }
}

@media (max-width: 700px) {
    .w100 { width: 14.2vw }
}

@media (max-width: 600px) {
    .w100 { width: 13vw }
}

@media (max-width: 500px) {
    .w100 { 
        width: 19vw;
        font-size: 2.8vw;
        font-weight: 600 !important;
    }
}

.mr_20 { margin-right: 20px; }
.mr_50 { margin-right: 50px; }
.mb_3 { margin-bottom: 3px; }

.fl { float: left; }
.fr { float: right; }

.pd0 { padding: 0; }
.pd3 { padding: 3px; }
.pr_10 { padding-right: 10px; }

.readOnly { background-color: #f2f2f2 !important; }
.essential:before { content: "*"; color: red; }
.white { background-color: #fff !important; }

.overflowY { overflow-y: auto }

.ratio_w100 { width: 100%; }


@media (min-width: 1025px) {
    .ratio_w90 { width: calc(90% - 5px); margin-left: 5px; float: left; }
    .ratio_w90:first-child { width: 90%; margin-left: 0px; }

    .ratio_w85 { width: calc(85% - 5px); margin-left: 5px; float: left; }
    .ratio_w85:first-child { width: 85%; margin-left: 0px; }

    .ratio_w80 { width: calc(80% - 5px); margin-left: 5px; float: left; }
    .ratio_w80:first-child { width: 80%; margin-left: 0px; }

    .ratio_w75 {width: calc(75% - 5px);margin-left: 5px;float: left; }
    .ratio_w75:first-child { width: 75%; margin-left: 0px; }

    .ratio_w70 { width: calc(70% - 5px); margin-left: 5px; float: left; }
    .ratio_w70:first-child { width: 70%; margin-left: 0px; }

    .ratio_w66 { width: calc(66.6% - 5px); margin-left: 5px; float: left; }
    .ratio_w66:first-child { width: 66.7%; margin-left: 0px; }

    .ratio_w65 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w65:first-child { width: 65%; margin-left: 0px; }

    .ratio_w60 { width: calc(60% - 5px); margin-left: 5px; float: left; }
    .ratio_w60:first-child { width: 60%; margin-left: 0px; }

    .ratio_w55 { width: calc(55% - 5px); margin-left: 5px; float: left; }
    .ratio_w55:first-child { width: 55%; margin-left: 0px; }

    .ratio_w50 { width: calc(50% - 5px); margin-left: 5px; float: left; }
    .ratio_w50:first-child { width: 50%; margin-left: 0px; }

    .ratio_w45 { width: calc(45% - 5px); margin-left: 5px; float: left; }
    .ratio_w45:first-child { width: 45%; margin-left: 0px; }

    .ratio_w40 { width: calc(40% - 5px); margin-left: 5px; float: left; }
    .ratio_w40:first-child { width: 40%; margin-left: 0px; }

    .ratio_w35 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w35:first-child { width: 35%; margin-left: 0px; }

    .ratio_w33 { width: calc(33.3% - 5px); margin-left: 5px; float: left; }
    .ratio_w33:first-child { width: 33.4%; margin-left: 0px; }

    .ratio_w30 { width: calc(30% - 5px); margin-left: 5px; float: left; }
    .ratio_w30:first-child { width: 30%; margin-left: 0px; }

    .ratio_w25 { width: calc(25% - 5px); margin-left: 5px; float: left; }
    .ratio_w25:first-child { width: 25%; margin-left: 0px; }

    .ratio_w20 { width: calc(20% - 5px); margin-left: 5px; float: left; }
    .ratio_w20:first-child { width: 20%; margin-left: 0px; }

    .ratio_w15 { width: calc(15% - 5px); margin-left: 5px; float: left; }
    .ratio_w15:first-child { width: 15%; margin-left: 0px; }

    .ratio_w10 { width: calc(10% - 5px); margin-left: 5px; float: left; }
    .ratio_w10:first-child { width: 10%; margin-left: 0px; }


    
    .ratio_h90 { height: calc(90% - 5px); margin-bottom: 5px; }
    .ratio_h80 { height: calc(80% - 5px); margin-bottom: 5px; }
    .ratio_h70 { height: calc(70% - 5px); margin-bottom: 5px; }
    .ratio_h65 { height: calc(65% - 5px); margin-bottom: 5px; }
    .ratio_h60 { height: calc(60% - 5px); margin-bottom: 5px; }
    .ratio_h55 { height: calc(55% - 5px); margin-bottom: 5px; }
    .ratio_h50 { height: calc(50% - 5px); margin-bottom: 5px; }
    .ratio_h45 { height: calc(45% - 5px); margin-bottom: 5px; }
    .ratio_h40 { height: calc(40% - 5px); margin-bottom: 5px; }
    .ratio_h33 { height: calc(33.3% - 5px); margin-bottom: 5px; }
    .ratio_h35 { height: calc(35% - 5px); margin-bottom: 5px; }
    .ratio_h32 { height: calc(32% - 5px); margin-bottom: 5px; }
    .ratio_h30 { height: calc(30% - 5px); margin-bottom: 5px; padding-right:5px;}
    .ratio_h25 { height: calc(25% - 5px); margin-bottom: 5px; }
    .ratio_h20 { height: calc(20% - 5px); margin-bottom: 5px; }
    .ratio_h15 { height: calc(15% - 5px); margin-bottom: 5px; }
    .ratio_h13 { height: calc(13% - 5px); margin-bottom: 5px; }
    .ratio_h10 { height: calc(10% - 5px); margin-bottom: 5px; }

    .ratio_h90:last-child { height: 90%; margin-bottom: 0px; }
    .ratio_h80:last-child { height: 80%; margin-bottom: 0px; }
    .ratio_h70:last-child { height: 70%; margin-bottom: 0px; padding-right:5px}
    .ratio_h65:last-child { height: 65%; margin-bottom: 0px; }
    .ratio_h60:last-child { height: 60%; margin-bottom: 0px; }
    .ratio_h55:last-child { height: 55%; margin-bottom: 0px; }
    .ratio_h50:last-child { height: 50%; margin-bottom: 0px; }
    .ratio_h45:last-child { height: 45%; margin-bottom: 0px; }
    .ratio_h40:last-child { height: 40%; margin-bottom: 0px; }
    .ratio_h33:last-child { height: 33.4%; margin-bottom: 0px; }
    .ratio_h35:last-child { height: 35%; margin-bottom: 0px; }
    .ratio_h32:last-child { height: 32%; margin-bottom: 0px; }
    .ratio_h30:last-child { height: 30%; margin-bottom: 0px; }
    .ratio_h25:last-child { height: 25%; margin-bottom: 0px; }
    .ratio_h20:last-child { height: 20%; margin-bottom: 0px; }
    .ratio_h15:last-child { height: 15%; margin-bottom: 0px; }
    .ratio_h13:last-child { height: 13%; margin-bottom: 0px; }
    .ratio_h10:last-child { height: 10%; margin-bottom: 0px; }

    .ratio_h100 { height: 100%; min-height: 300px; }
}

@media (max-width: 1024px) and (min-height: 1000px) {
    .ratio_w100.ratio_h30.shadow.main_top { height: calc(20% - 5px)};
}

@media (max-width: 1024px) {
    .ratio_w90 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w90:first-child { width: 65%; margin-left: 0px; }

    .ratio_w85 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w85:first-child { width: 65%; margin-left: 0px; }

    .ratio_w80 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w80:first-child { width: 65%; margin-left: 0px; }

    .ratio_w75 {width: calc(65% - 5px);margin-left: 5px;float: left; }
    .ratio_w75:first-child { width: 65%; margin-left: 0px; }

    .ratio_w70 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w70:first-child { width: 65%; margin-left: 0px; }

    .ratio_w66 { width: calc(66.6% - 5px); margin-left: 5px; float: left; }
    .ratio_w66:first-child { width: 66.7%; margin-left: 0px; }

    .ratio_w65 { width: calc(65% - 5px); margin-left: 5px; float: left; }
    .ratio_w65:first-child { width: 65%; margin-left: 0px; }

    .ratio_w60 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w60:first-child { width: 100%; margin-left: 0px; }

    .ratio_w55 { width: calc(55% - 5px); margin-left: 5px; float: left; }
    .ratio_w55:first-child { width: 55%; margin-left: 0px; }

    .ratio_w50 { width: calc(50% - 5px); margin-left: 5px;  margin-bottom: 5px; float: left; }
    .ratio_w50:first-child { width: calc(100% - 5px); margin-left: 5px; margin-bottom: 5px;}

    .ratio_w45 { width: calc(45% - 5px); margin-left: 5px; float: left; }
    .ratio_w45:first-child { width: 45%; margin-left: 0px; }

    .ratio_w40 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w40:first-child { width: calc(100% - 5px); margin-left: 5px; }

    .ratio_w35 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w35:first-child { width: 35%; margin-left: 0px; }

    .ratio_w30 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w30:first-child { width: 35%; margin-left: 0px; }

    .ratio_w25 { width: calc(50% - 5px); margin-left: 5px; margin-bottom: 5px; float: left; }
    .ratio_w25:first-child { width: 50%; margin-left: 0px; margin-bottom: 5px;}

    .ratio_w20 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w20:first-child { width: 35%; margin-left: 0px; }

    .ratio_w15 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w15:first-child { width: 35%; margin-left: 0px; }

    .ratio_w10 { width: calc(35% - 5px); margin-left: 5px; float: left; }
    .ratio_w10:first-child { width: 35%; margin-left: 0px; }


    .ratio_w33 { width: 50% ; float: left; margin-bottom: 5px;}
    .ratio_w33:last-child { width: calc(50% - 5px); margin-left: 5px;}
    .ratio_w33:first-child { width: 100%;}

    
    .ratio_h90 { height: calc(90% - 5px); margin-bottom: 5px; }
    .ratio_h80 { height: calc(80% - 5px); margin-bottom: 5px; }
    .ratio_h70 { height: calc(70% - 5px); margin-bottom: 5px; }
    .ratio_h65 { height: calc(65% - 5px); margin-bottom: 5px; }
    .ratio_h60 { height: calc(60% - 5px); margin-bottom: 5px; }
    .ratio_h55 { height: calc(55% - 5px); margin-bottom: 5px; }
    .ratio_h50 { height: calc(50% - 5px); margin-bottom: 5px; }
    .ratio_h45 { height: calc(45% - 5px); margin-bottom: 5px; }
    .ratio_h40 { height: calc(40% - 5px); margin-bottom: 5px; }
    .ratio_h33 { height: calc(33.3% - 5px); margin-bottom: 5px; }
    .ratio_h35 { height: calc(35% - 5px); margin-bottom: 5px; }
    .ratio_h32 { height: calc(32% - 5px); margin-bottom: 5px; }
    .ratio_h30 { height: calc(30% - 5px); margin-bottom: 5px;}
    .ratio_h25 { height: calc(25% - 5px); margin-bottom: 5px; }
    .ratio_h20 { height: calc(20% - 5px); margin-bottom: 5px; }
    .ratio_h15 { height: calc(15% - 5px); margin-bottom: 5px; }
    .ratio_h13 { height: calc(13% - 5px); margin-bottom: 5px; }
    .ratio_h10 { height: calc(10% - 5px); margin-bottom: 5px; }

    .ratio_h90:last-child { height: 90%; margin-bottom: 0px; }
    .ratio_h80:last-child { height: 80%; margin-bottom: 0px; }
    .ratio_h70:last-child { height: 70%; margin-bottom: 0px;}
    .ratio_h65:last-child { height: 65%; margin-bottom: 0px; }
    .ratio_h60:last-child { height: 60%; margin-bottom: 0px; }
    .ratio_h55:last-child { height: 55%; margin-bottom: 0px; }
    .ratio_h50:last-child { height: 50%; margin-bottom: 0px; }
    .ratio_h45:last-child { height: 45%; margin-bottom: 0px; }
    .ratio_h40:last-child { height: 40%; margin-bottom: 0px; }
    .ratio_h33:last-child { height: 33.4%; margin-bottom: 0px; }
    .ratio_h35:last-child { height: 35%; margin-bottom: 0px; }
    .ratio_h32:last-child { height: 32%; margin-bottom: 0px; }
    .ratio_h30:last-child { height: 30%; margin-bottom: 0px; }
    .ratio_h25:last-child { height: 25%; margin-bottom: 0px; }
    .ratio_h20:last-child { height: 20%; margin-bottom: 0px; }
    .ratio_h15:last-child { height: 15%; margin-bottom: 0px; }
    .ratio_h13:last-child { height: 13%; margin-bottom: 0px; }
    .ratio_h10:last-child { height: 10%; margin-bottom: 0px; }


    .ratio_w40.ratio_h100 {height: 50%;}
    .ratio_w60.ratio_h100 {height: 50%;}

    .ratio_h60.ratio_w100 {height: 50%;}
    .ratio_h40.ratio_w100 {height: 50%;}


    .ratio_h100 { height: 100%; min-height: 300px; }
}


@media (max-width: 600px) {
    .ratio_w90 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w90:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w85 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w85:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w80 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w80:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w75 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w75:first-child { width: 100%; margin-left: 0px; }

    .ratio_w70 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w70:first-child { width: 100%; margin-left: 0px; margin-top: 5px;}
    
    .ratio_w66 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w66:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w65 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w65:first-child { width: 100%; margin-left: 0px; }
    

    .ratio_w60 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w60:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w55 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w55:first-child { width: 55%; margin-left: 0px; }
    
    .ratio_w50 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w50:first-child { width: 100%; margin-left: 0px;}

    .ratio_w45 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w45:first-child { width: 100%; margin-left: 0px; }

    .ratio_w40 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w40:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w35 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w35:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w33 { width: 100% ;}
    .ratio_w33:last-child { width: 100%; margin-left: 0px;}
    .ratio_w33:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w30 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w30:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w25 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w25:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w20 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w20:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w15 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w15:first-child { width: 100%; margin-left: 0px; }
    
    .ratio_w10 { width: 100%; margin-left: 0px; margin-top: 5px;}
    .ratio_w10:first-child { width: 100%; margin-left: 0px; }

    .ratio_h100 { height: 100%; min-height: 300px; }

    .ratio_h80:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h90:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h70:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h65:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h60:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h55:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h50:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h45:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h40:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h33:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h35:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h32:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h30:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h25:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h20:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h15:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h13:last-child { height: 70%; margin-bottom: 0px; }
    .ratio_h10:last-child { height: 70%; margin-bottom: 0px; }

    .ratio_w10.ratio_h100 {height: 50% ;}
    .ratio_w15.ratio_h100 {height: 50% ;}
    .ratio_w20.ratio_h100 {height: 50% ;}
    .ratio_w25.ratio_h100 {height: 75% ;}
    .ratio_w30.ratio_h100 {height: 50% ;}
    .ratio_w33.ratio_h100 {height: 50% ;}
    .ratio_w35.ratio_h100 {height: 50% ;}
    .ratio_w40.ratio_h100 {height: 50% ;}
    .ratio_w45.ratio_h100 {height: 50% ;}
    .ratio_w50.ratio_h100 {height: 50% ;}
    .ratio_w55.ratio_h100 {height: 50% ;}
    .ratio_w60.ratio_h100 {height: 50% ;}
    .ratio_w65.ratio_h100 {height: 50% ;}
    .ratio_w70.ratio_h100 {height: 50% ;}
    .ratio_w75.ratio_h100 {height: 50% ;}
    .ratio_w80.ratio_h100 {height: 50% ;}
    .ratio_w85.ratio_h100 {height: 50% ;}
    .ratio_w90.ratio_h100 {height: 50% ;}

    .ratio_h80.ratio_w100 {height: 50% ;}
    .ratio_h90.ratio_w100 {height: 50% ;}
    .ratio_h65.ratio_w100 {height: 50% ;}
    .ratio_h60.ratio_w100 {height: 50% ;}
    .ratio_h55.ratio_w100 {height: 50% ;}
    .ratio_h50.ratio_w100 {height: 50% ;}
    .ratio_h40.ratio_w100 {height: 50% ;}
    .ratio_h45.ratio_w100 {height: 50% ;}
    .ratio_h33.ratio_w100 {height: 50% ;}
    .ratio_h35.ratio_w100 {height: 50% ;}
    .ratio_h32.ratio_w100 {height: 50% ;}
    .ratio_h30.ratio_w100 {height: 30% ;}
    .ratio_h25.ratio_w100 {height: 50% ;}
    .ratio_h20.ratio_w100 {height: 50% ;}
    .ratio_h15.ratio_w100 {height: 50% ;}
    .ratio_h13.ratio_w100 {height: 50% ;}
    .ratio_h10.ratio_w100 {height: 50% ;}

    .ratio_h100 .ratio_h80 {height: 80% ;}
    .ratio_h100 .ratio_h90 {height: 80% ;}
    .ratio_h100 .ratio_h65 {height: 80% ;}
    .ratio_h100 .ratio_h60 {height: 80% ;}
    .ratio_h100 .ratio_h55 {height: 80% ;}
    .ratio_h100 .ratio_h50 {height: 80% ;}
    .ratio_h100 .ratio_h45 {height: 80% ;}
    .ratio_h100 .ratio_h40 {height: 80% ;}
    .ratio_h100 .ratio_h33 {height: 80% ;}
    .ratio_h100 .ratio_h35 {height: 80% ;}
    .ratio_h100 .ratio_h32 {height: 80% ;}
    .ratio_h100 .ratio_h30 {height: 80% ;}
    .ratio_h100 .ratio_h25 {height: 80% ;}
    .ratio_h100 .ratio_h20 {height: 80% ;}
    .ratio_h100 .ratio_h15 {height: 80% ;}
    .ratio_h100 .ratio_h13 {height: 80% ;}
    .ratio_h100 .ratio_h10 {height: 80% ;}
}

@media (max-width: 750px) and (max-height: 865px)  {
    .ratio_h100 { height: 100%; min-height: 300px; } 

    .ratio_h80:last-child { margin-bottom: 0px; }
    .ratio_h90:last-child { margin-bottom: 0px; }
    .ratio_h70:last-child { margin-bottom: 0px; }
    .ratio_h65:last-child { margin-bottom: 0px; }
    .ratio_h60:last-child { margin-bottom: 0px; }
    .ratio_h55:last-child { margin-bottom: 0px; }
    .ratio_h50:last-child { margin-bottom: 0px; }
    .ratio_h45:last-child { margin-bottom: 0px; }
    .ratio_h40:last-child { margin-bottom: 0px; }
    .ratio_h33:last-child { margin-bottom: 0px; }
    .ratio_h35:last-child { margin-bottom: 0px; }
    .ratio_h32:last-child { margin-bottom: 0px; }
    .ratio_h30:last-child { margin-bottom: 0px; }
    .ratio_h25:last-child { margin-bottom: 0px; }
    .ratio_h20:last-child { margin-bottom: 0px; }
    .ratio_h15:last-child { margin-bottom: 0px; }
    .ratio_h13:last-child { margin-bottom: 0px; }
    .ratio_h10:last-child { margin-bottom: 0px; }

    .ratio_h80 {height: 300px !important ;}
    .ratio_h90 {height: 300px !important ;}
    .ratio_h65 {height: 300px !important ;}
    .ratio_h60 {height: 300px !important ;}
    .ratio_h55 {height: 300px !important ;}
    .ratio_h50 {height: 300px !important ;}
    .ratio_h40 {height: 300px !important ;}
    .ratio_h45 {height: 300px !important ;}
    .ratio_h33 {height: 300px !important ;}
    .ratio_h35 {height: 300px !important ;}
    .ratio_h32 {height: 300px !important ;}
    .ratio_h30 {height: 300px !important ;}
    .ratio_h25 {height: 300px !important ;}
    .ratio_h20 {height: 300px !important ;}
    .ratio_h15 {height: 300px !important ;}
    .ratio_h13 {height: 300px !important ;}
    .ratio_h10 {height: 300px !important ;}
}

