/*container*/

#header {
    height: 44px;
    background-color: #7fb375 ;
    position: relative;
    z-index: 9;
}

.top_logo {
    height: 50px;
    min-width: 225px;
    background-color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 800;
    /* letter-spacing: -1.3px; */
    text-align: center;
    line-height: 20px;
    vertical-align: top;
    box-shadow: inset 0px 0px 10px 5px #9ea3ca;
    display: flex;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.top_logo .slogo img{
    padding-top:4px;
}

#todo {
    box-shadow : none !important;
    overflow: hidden;
}

.top_logo a {
    color: #333;
}

.top_left img.logo{
    display: block;
    float: left;
    padding-left: 5px;
    width: 85px;
    padding-top: 1px;
}
.top_left{
    float: left; 
    background-color: #303030;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: 9;
    position: relative;
}
.top_left .profile{
    overflow: hidden;
    background-color: #7fb375;
    padding: 12px 10px 8px 10px;
}
.top_left .pic{
    float: left;
    padding-right: 12px;
}
.top_left .txtlist{
    float: left
}
.top_left .txtlist .name{
    color: #fff;
    font-size: 13px;
    display: contents;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    overflow: hidden;
    max-width: 150px;
}

.top_left .txtlist .name .user_info{
    display: inline-flex;
}

.name .user_info.login_nm {
    margin-right: 6px;
    font-weight: 600;
    font-size: 14px;
}

.name .user_info.dept_nm {
    color: #a5a1c8;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

/* .top_left .txtlist .bnum{
    color: #eaffe6;
    font-size: 14px;
    display: inline-block;
    padding-left: 4px;
    letter-spacing: -1px;
} */
.top_left .txtlist .logout{
    color: #ce8888;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    opacity: 0.8;
}


.top_left .txtlist .logout img{
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
    margin-top: -2px;
    opacity: 0.7;
}

.top_left .txtlist .logout img:hover{
    opacity: 1;
}

.top_left .txtlist .logout:hover{
    opacity: 1;
    font-weight: 700;
}

.weather_item {
    background: linear-gradient(157deg, rgb(239 248 246 / 56%) 0%,rgb(88 172 231 / 11%) 96%);
    background: -webkit-linear-gradient(157deg, rgba(239, 248, 246, 0.56) 0%,rgba(88, 172, 231, 0.11) 96%);
    background: -moz-linear-gradient(157deg, rgb(239 248 246 / 56%) 0%,rgb(88 172 231 / 11%) 96%);
    background: -o-linear-gradient(157deg, hsla(167, 39%, 95%, 0.56) 0%,hsla(205, 75%, 63%, 0.11) 96%);
    background: -ms-linear-gradient(157deg, hsla(167, 39%, 95%, 0.56) 0%,hsla(205, 75%, 63%, 0.11) 96%);
    margin: 2em 1.5em 0px 0px;
    height: 16em;
    width: 14em;
    filter: drop-shadow(2px 4px 6px hsla(254, 55%, 47%, 0.369));
    -ms-filter: "progid:DXImageTransform.Microsoft.drop-shadow(2px 4px 6px hsla(254, 55%, 47%, 0.369))";
    border-radius: 10px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.home_item {
    background: linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157 / 50%) 96%);
    background: -webkit-linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157 / 50%) 96%);
    background: -moz-linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157 / 50%) 96%);
    background: -o-linear-gradient(157deg, rgba(218, 244, 238, 0.56) 0%,rgba(255, 157, 157, 0.5) 96%);
    background: -ms-linear-gradient(157deg, rgba(218, 244, 238, 0.56) 0%,rgba(255, 157, 157, 0.5) 96%);
    margin: 0px 1.5em 0.5em 0px;
    height: 7.7em;
    width: 14em;
    filter: drop-shadow(2px 4px 6px #ccc);
    border-radius: 10px;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.home_item:hover {
    background: linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157) 96%);
    background: -webkit-linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157) 96%);
    background: -moz-linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157) 96%);
    background: -o-linear-gradient(157deg, rgb(218 244 238 / 56%) 0%,rgb(255 157 157) 96%);
}

.main_req_txt {
    font-size: 16px;
    font-weight: 900;
}

.main_req_img {
    width: 28%;
    margin: 10px 0px 0px 62px;
}

.weather_main_img {
    margin: 5px 42px;
}

.weather_main {
    min-height: 106px !important;
}

.weather_middle {
    display: flex;
}

.weather_middle_img {
    width: 28px;
    margin-left : 13px;
    filter : drop-shadow(1px 2px 2px #272121b3);
}

.weather_middle_txt {
    font-size: 20px;
    font-weight: 500;
}

.weather_bottom {
    padding-top : 10px
}

.weather_bottom_txt {
    margin-left: 36%;
    font-size: 25px;
    font-weight: 600;
}

/* .recharts-legend-item {
    font-weight: 700;
    margin: 1.5px
} */
/* 
.recharts-legend-item .recharts-surface {
    height: 100%;
    margin-top: 0px;
} */

.weather {
    float: right;
    padding: 0px;
    display: flex;
    filter: drop-shadow(2px 2px 4px #a05cb445);
    
}

.weather *  {
    transform: translateX(0px);
    opacity: 0;
    animation: opacityOpen 2.5s forwards;
}

@keyframes opacityOpen {
    100%{opacity: 1;transition: opacity 5s, ease-in-out 4s, transform 5.5s ease-out 3s;}
}

@keyframes opacityOpen2 {
    100%{
        opacity: 1;
        transform: rotateY(48deg) rotateZ(-4deg);
        left: 45%;
        top: 0.8%;
        z-index: 0;
        transition: opacity 10s, left 5s,top 5s, ease-out 5s, transform 5s ease-out 5s;
    }
}


/* .top_left .noti{
    float: right;
    padding: 10px 4px;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}
.top_left .noti img{
    width: 24px;
}
.top_left .noti_num{
    position: absolute;
    color: #fff;
    left: 17px;
    font-size: 8px;
    font-weight: 500;
    top: 11px;
} */

.top_left .set_user{
    opacity: 0.8;
    float: right;
    margin: 10px 5px 0px 0px;
    cursor: pointer;
    background-color: #aeaeae7d;
    border-radius: 10px;
}
.top_left .set_user:hover{
    opacity:1;
}
.overlap + .top_left i {
    margin-left: 220px
    }
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.top_right {
    position: absolute;
    top: 10px;
    right: 2px;
}

.top_right li {
    color: #fff;
    float: left;
    position: relative;
}

.top_right li a {
    color: #fff;
    font-size: 16px;
}
.top_right li a i{
    padding-top: 3px;
    font-size: 18px;
    color: #fff;
    padding-left: 14px;
    margin-right: 16px;
}

.top_right li a img {
    border-radius: 50%;
    max-height: 25px;
    vertical-align: middle;
}

.top_right li .user_name {
    display: inline-block;
    font-size: 12px;
    padding-left: 5px;
}

.top_right li a span {
    font-size: 0;
}

.top_right li .noti_count {
    position: absolute;
    top: -2px;
    left: 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #e64a19;
    padding: 2px 5px;
    font-family: 'dotum';
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}


.top_right .clock_item{
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 6px 12px 3px;
    margin-top:7px;
    border-radius: 4px;
    /* background-color: #0c5da7; */
    margin-left: -7px;
    letter-spacing: 0;
}
.top_right .clock_item img{
    width: 27px;
}



@media (min-width: 401px) {

    #container {
        display: flex;
    }
    

    .top_left_contract {
        display: '';
    }

    .top_left_contract + .left_toolbar + .main_wrap {
        width: calc(100% - 65px) !important;
    }

    .top_left_contract .personInfoPhoto{
        display: '';
    }

    .top_left_contract ul {
        display: '';
    }
}

@media (max-width: 400px) {

    #container {
        display: flex;
    }

    /* .recharts-legend-wrapper {
        visibility: hidden !important;
    } */
    

    /* #container {
        display: flex;
        flex-direction: column;
    } */

    /* .top_left_contract + .left_toolbar + .main_wrap {
        width: calc(100%) !important;
        height: 100vh;
    }

    .top_left_contract .personInfoPhoto{
        display: none;
    }

    .top_left_contract ul {
        display: none;
    }
    
    .top_left {
        height: 100vh;
    }

    .top_left.top_left_contract{
        height: 5.5vh !important;
    } */

}

/*left_toolbar*/

.left_toolbar {
    min-width: 200px;
    max-width: 200px;
    height: calc(100vh - 0px);
    position: relative;
    -ms-overflow-style: none;
    float: left;
}

.left_toolbar_visible{
    min-width: 200px;
    max-width: 200px;
    height: calc(100vh - 0px);
    position: absolute;
    -ms-overflow-style: none;
    z-index: 10000;
    display: block;
    background-color: #Fff;
    box-shadow: 2px 0px 7px 1px rgb(158 163 202) !important;
}

.left_toolbar .top_left_toolbar{
    height: 51px;
    border-bottom: 1px solid #ddd;
    line-height: 51px;
    font-size: 17px;
    font-weight: bold;
    padding-left: 14px;
    position: relative;
    
}

/* 토글 아이콘 */
.left_toolbar .top_left_toolbar .con_btn{
    position: absolute;
    right: -13px;
}

.left_toolbar .top_left_toolbar .con_btn i{
    background-color: #3f3f3f;
    color: #fff;
    height: 24px;
    width: 24px;
    line-height: 24px;
    filter: drop-shadow(0px 1px 4px #3f3f3f);
    border-radius: 30px;
    font-size: 12px;
    opacity: 0.6;
}

.left_toolbar .top_left_toolbar .con_btn i:hover{
    filter: drop-shadow(0px 1px 4px #fff);
    background-color: #7fb375;
    opacity: 0.8;
    color: #fff;
}

/* ::-webkit-scrollbar {display:none;} */
.left_toolbar .personInfoPhoto {
    width: 230px;
    padding: 12px 15px;
    position: relative;
}

.left_toolbar .personInfoPhoto .pic {
    display: inline-block;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 38px;
    height: 38px;
    vertical-align: top;
}

.left_toolbar .personInfoPhoto .txtlist {
    display: inline-block;
    margin-left: 10px;
	padding-top:2px;
}

.left_toolbar .personInfoPhoto .txtlist .name {
    font-size: 12px;
    font-weight: bold;
    color: #111;
}

.left_toolbar .personInfoPhoto .txtlist .bnum {
    font-size: 13px;
    font-weight: 300;
    color: #666;
}

.left_toolbar .personInfoPhoto .txtlist .logout {
    font-size: 9px;
    letter-spacing: -0.3px;
    display: inline-block;
    margin-left: 7px;
    padding: 2px 5px;
    color: #999;
    border: 1px solid #ddd;
	cursor:pointer;
}

.left_toolbar .left_menu {
    width: 200px;
    height: calc(100vh - 126px);
    overflow-y: auto;
}

.left_toolbar .left_menu > li {
    position: relative;
}

.left_toolbar .left_menu li > a {
    padding: 13px 9px 15px;
    color: #0e0e0e;
    display: block;
    font-size: 15px;
	font-weight: normal;
}

.left_toolbar .left_menu li > a i {
    margin-right: 6px;
    margin-left: 5px;
    color: #7fb375;
    vertical-align: middle;
    font-size: 14px;
}

.has_ul span{
    vertical-align: middle;
}

.left_toolbar .left_menu .active > a,
.left_toolbar .left_menu .active > a:hover,
.left_toolbar .left_menu .active > a:focus {
    color: #7fb375;
}

.left_toolbar .left_menu li > .has_ul {
    position: relative;
    height: 48px;
    background-color: #fafafa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.left_toolbar .left_menu li > .has_ul:after {
    content: '\e764';
    font-family: "entypo";
    font-size: 12px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 15px;
    line-height: 1;
    color: #7fb375;
}

.left_toolbar .left_menu li .two_depth_menu{
    padding-bottom: 5px;
}

.top_menu_item > *:before {
    content: "";
    position: fixed;
    transition: 0.3s;
    left: 0px;
    height: 2px;
    background: linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -webkit-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -moz-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -o-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    width: 0px;
    margin-top: 57px;
}

.top_menu_item.active:before{
    content: "";
    position: fixed;
    transition: 0.3s;
    left: 0px;
    height: 2px;
    background: linear-gradient(157deg, rgb(179 10 53 / 67%) 0%,rgb(57 77 61 / 21%) 96%);
    background: -webkit-linear-gradient(157deg, rgb(179 10 53 / 67%) 0%,rgb(57 77 61 / 21%) 96%);
    background: -moz-linear-gradient(157deg, rgb(179 10 53 / 67%) 0%,rgb(57 77 61 / 21%) 96%);
    background: -o-linear-gradient(157deg, rgb(179 10 53 / 67%) 0%,rgb(57 77 61 / 21%) 96%);
    width: 225px;
    margin-top: 57px;
}

.top_left.top_left_contract * .top_menu_item.active:before{
    width: 65px;
    margin-top: 72px;
}

.top_left.top_left_expand * .top_menu_item > *:hover:before {
    width: 225px;
}

.top_left.top_left_contract * .top_menu_item > *:before {
    content: "";
    position: fixed;
    transition: 0.3s;
    left: 0px;
    height: 2px;
    background: linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -webkit-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -moz-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -o-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    width: 0px;
    margin-top: 72px;
}

.top_left.top_left_contract * .top_menu_item > *:hover:before {
    width: 65px;
}

.top_left.top_left_expand * .left_toolbar .left_menu li ul li a {
    padding: 5px 9px;
    padding-left: 35px;
    min-height: 20px;
    font-size: 13px;
    letter-spacing: -0.5px;
    color: #484848;
}

.left_toolbar .left_menu li ul li a:hover {
    background-color: rgb(175 204 186 / 11%);
}


/* .left_toolbar .left_menubody::-webkit-scrollbar { 
    display: none; 
} */


.left_toolbar_collapse{display: none}


/*사이드메뉴 close*/
.left_toolbar_close {
    min-width: 85px;
    max-width: 85px;
    height: calc(100vh - 45px);
    position: relative;
    overflow: hidden;
    float: left;
/*    border-right: 1px solid #ddd;*/
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 7px 0 #999;
}

.left_toolbar_close .profile {
    padding: 15px 0 2px;
    position: relative;
}

.left_toolbar_close .profile .pic {
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    width: 34px;
    height: 34px;
    margin: 0 auto;
}

.left_toolbar_close .personInfoPhoto .txtlist {
    text-align: center;
}

.left_toolbar_close .personInfoPhoto .txtlist .name {
    padding-top: 4px;
    font-size: 13px;
    font-weight: bold;
    color: #111;
}

.left_toolbar_close .personInfoPhoto .txtlist .bnum {
    font-size: 12px;
    font-weight: 300;
    color: #666;
    padding-top: 2px;
}

.left_toolbar_close .personInfoPhoto .txtlist .logout {
    font-size: 9px;
    letter-spacing: -0.3px;
    display: inline-block;
    padding: 2px 5px;
    color: #999;
    border: 1px solid #ddd;
	cursor:pointer;
    margin-top: 5px;
}

.left_toolbar_close .left_menu {
    height: calc(100vh - 126px);
    text-align: center;
    /*    overflow-y: scroll;*/
}

.left_toolbar_close .left_menu > li {
    position: relative;
    border-bottom: 1px #f1f1f1 solid;
}

.left_toolbar_close .left_menu li > a {
    padding: 12px 3px;
    font-size: 12px;
    font-weight: 300;
    color: #666;
	font-weight: normal;   
    display: inline-block;
    text-align: center;
}

.left_toolbar_close .left_menu li > a i {
    color: #7fb375;
    font-size: 27px;
    display: block;
    margin:8px auto;
}

.left_toolbar_close .left_menu li > .has_ul {
    position: relative;

}

.left_toolbar_close .left_menu li ul li a {
    padding: 8px 20px;
    padding-left: 40px;
    min-height: 20px;
    font-size: 12px;
    letter-spacing: -0.5px;
    font-weight: 300;
}

.left_toolbar_close .left_menu li ul li a:hover {
    background-color: #ebf4f7;
}

/*사이드메뉴 close 끝*/

/*main*/

.top_left_expand + .left_toolbar + .main_wrap {
    width: calc(100% - 226px) !important;
}

.main_wrap {
    width: calc(100% - 65px);
    padding: 8px;
    color: #333;
	background: #f1f3eb;
    float: left;    
    height: calc(100vh - 0px);
    position: relative;
}

.main_wrap * .contents_wrap {
    overflow-y: hidden !important;
}

.main_wrap > a{
    display: block;
    position: absolute;
    left: 10px;
    z-index: 99999;
}
.main_wrap .icon-menu {
    font-size: 24px;
    line-height: 44px;
    color: #0c0c0c;
    width: 47px;
    border-right: 1px solid #1275c8;
    margin-right: 0 !important;
}

.top_logo .top_text {
    display: inline;
}

.left_menu li{
    cursor: pointer;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#header a i {
    cursor: pointer;
}

.off .two_depth_menu{
    display: none;
}

.allOff .two_depth_menu{
    display: none;
}

.two_depth_menu > *:hover:before {
    width: 200px;
}

.two_depth_menu > *:before {
    content: "";
    position: absolute;
    transition: 0.3s;
    height: 2px;
    background: linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -webkit-linear-gradient(157deg, rgb(43 176 37 / 76%) 0%,rgb(29 37 30 / 71%) 96%);
    background: -moz-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    background: -o-linear-gradient(157deg, rgb(200 77 143 / 56%) 0%,rgb(129 101 184 / 21%) 96%);
    width: 0px;
    margin-top: 45px;
}

.overlap {
    position: absolute;
    z-index: 10000;
    background: white;
}

.basic {
    width: 100%;
    height: 100%;
    background: transparent;
}


.popup {
    padding: 0px 5px 5px 10px !important
}

.popup .sub_tit {
    padding-top: 5px !important;
}

.left_toolbar_close + .main_wrap {
    width: calc(100% - 85px);
}
.left_toolbar + .main_wrap {
    /* width: calc(100% - 220px); */
}

.overlap +.main_wrap {
    width:100% ;
}

#mainTop {
    height: 22em !important;
    background: url(img/main_bg.png) no-repeat 10px 25px;
    background-color: #f1f3eb !important;
    box-shadow: none !important;
    background-size: 54em
}

.WrapsetLogin {
    width: 1680px;
    height: 977px;
    margin: 0 auto;
    position: relative;
}
.login{
    text-align: center;
}
    
/* .Login .titbx .tit {
    text-indent: -9999;
    background: url(img/loging_top.png) center no-repeat;
    height: 977px;    
} */

.IdText input:hover, .PassText input:hover, .IdText input:focus, .PassText input:focus{
    outline-width: 3px;

}

@media(min-width: 500px){
    .loginbx {
        width: 40em;
        margin: 0 auto;
        position: fixed;
        top: 55%;
        height: 40em;
        background-color: #f5f6fa;
        margin-top: -330px;
        left: 52.5%;
        margin-left: -255px;
        border-radius: 120px;
        box-shadow: inset 2px 2px 15px 10px rgb(64 64 64 / 29%);
        text-align: center;
        padding-top: 3em;
        opacity: 0.9;
    }

    .loginbtn {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: #3b4b7b;
        border-radius: 0;
        width: 370px;
        text-align: center;
        vertical-align: middle;
        height: 65px;
        line-height: 65px;
        margin: 20px auto 25px;
        cursor: pointer;
    }

    .IdText input, .PassText input{
        border: none;
        line-height: 60px;
        height: 60px;
        width: 370px;
        background: #fff !important;
        font-size: 16px;
        text-align: center;
        color: #7baa71 !important;
        font-weight: 600;
        outline: solid 0px #89ba7f6e;
        transition: outline 0.3s linear;
    }

    .loginbx .m_b_logo{
        width: 220px;
        filter: drop-shadow(1px 1px 5px #04040480);
        margin-top: 12px;
    }
    
}

@media(max-width: 499px){
    .loginbx {
        width: 95vw;
        margin: 0 auto;
        position: fixed;
        top: 63%;
        height: 46vh;
        background-color: #f5f6fa;
        margin-top: -40vh;
        /* left: 65%; */
        margin-left: 2.75vw;
        border-radius: 70px;
        box-shadow: inset 2px 2px 15px 10px rgb(64 64 64 / 29%);
        text-align: center;
        padding-top: 4.2vh;
        opacity: 0.9;
    }

    .sys_logo {
        width: 70vw !important;
    }

    .loginbtn {
        font-size: 4vw;
        font-weight: 500;
        color: #fff;
        background: #3b4b7b;
        border-radius: 0;
        width: 75vw;
        text-align: center;
        vertical-align: middle;
        height: 6.5vh;
        line-height: 7vh;
        margin: 1.5vh auto 2vw;
        cursor: pointer;
    }

    .IdText input, .PassText input{
        border: none;
        /* line-height: 60px; */
        height: 6.5vh;
        width: 75vw;
        background: #fff !important;
        font-size: 4vw;
        text-align: center;
        color: #7baa71 !important;
        font-weight: 600;
        outline: solid 0px #89ba7f6e;
        transition: outline 0.3s linear;
    }

    .loginbx .m_b_logo{
        width: 45vw;
        margin-top: 1vh;
        filter: drop-shadow(1px 1px 5px #04040480);
    }
}

@media(max-width: 768px){
    /* .recharts-legend-wrapper {
        right: 3.8rem !important;
        font-weight: 900;
        filter: drop-shadow(2px 4px 5px #544e4e);
    } */

    #todo {
        min-width: 390px !important;
    }
}
    
.IdText {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}


.IdText input:-internal-autofill-selected,
.PassText input:-internal-autofill-selected{
 font-size:16px !important;}


/* input:-internal-autofill-selected {
-webkit-appearance: menulist-button;
background-color: rgb(255, 255, 255) !important;}
.IdText input,.PassText input{-webkit-appearance: menulist-button;
background-color: rgb(255, 255, 255) !important;
color: (#7fb375, white) !important;} */


.IdText input:-webkit-autofill,
.IdText input:-webkit-autofill:hover,
.IdText input:-webkit-autofill:focus,
.IdText input:-webkit-autofill:active,
.PassText input:-webkit-autofill,
.PassText input:-webkit-autofill:hover,
.PassText input:-webkit-autofill:focus,
.PassText input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0 1000px #fff inset;
 -webkit-text-fill-color: #7fb375 !important;
 -webkit-text-size-adjust: 16px !important;
 -webkit-font-size:16px !important;
}

.IdText input:focus, .PassText input:focus{
    text-align: center;
}

/* .IdText input{
    background: url(img/ico_id.png) 12px 14px no-repeat;
}
.PassText input{
    background: url(img/ico_pw.png) 13px 14px no-repeat;
} */

.msdisplay{ display: -ms-inline-flexbox}
.wkdisplay{ display: -webkit-inline-flex}


/* 0210 top menu add */
ul.top_menu{

}


ul.top_menu .top_menu_item{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight:700;
    padding:0 18px 0 14px;
    line-height: 56px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
ul.top_menu .top_menu_item:hover{
    /* color: #7fb375; */
    background-color: #181918;
}
ul.top_menu .top_menu_item i{
    display: inline-block;
    width: 22px;
    height: 19px;
    margin-bottom: -2px;
    background-repeat: no-repeat;
    position: relative;
}

ul.top_menu .top_menu_item.active{
    background-color: #181918;
    color: #7fb375;
}

/* gnb 메뉴 이미지  */

ul.top_menu .menu {
    background-repeat: no-repeat;
    /* background-size: 491px 782px; */
    position: relative;
    padding: 3px 10px 2px 0px;
    margin-top: 10px;
    height: 30px;
    float: left;
    filter: drop-shadow(0px 0px 2px white);
}

ul.top_menu .top_menu_item.active img{
    filter: invert(1);
}

ul.top_menu .menu:hover {
    filter: invert(1);
}

ul.top_menu .top_menu_item:hover .menu_name{
    color: #7fb375;
    font-weight: 1000;
}




/* 공통  */
ul.top_menu .menu_common {
    background-position: 0 -37px
}
ul.top_menu .top_menu_item:hover .menu_common,ul.top_menu .top_menu_item.active .menu_common {
    background-position: 0 0;
}

/* 서비스요청  */
ul.top_menu .menu_request {
    background-position: 0 -111px
}
ul.top_menu .top_menu_item:hover .menu_request,ul.top_menu .top_menu_item.active .menu_request {
    background-position: 0 -74px;
}
/* ITAM  */
ul.top_menu .menu_itam {
    background-position: 0 -185px
}
ul.top_menu .top_menu_item:hover .menu_itam,ul.top_menu .top_menu_item.active .menu_itam {
    background-position: 0 -148px;
}
/* 시스템  */
ul.top_menu .menu_system {
    background-position: 0 -259px
}
ul.top_menu .top_menu_item:hover .menu_system,ul.top_menu .top_menu_item.active .menu_system {
    background-position: 0 -222px;
}


/* helper */

ul.top_menu .help_wrap{
    width: 100%;
    color: #7fb375;
    font-size: 11px;
    font-weight: 600;
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #424242;
    background-color: #353535;
}

ul.top_menu .help_wrap img{
    float: left;
    padding: 5px;
    cursor: pointer;
}

ul.top_menu .help_wrap .helper{
         float: none;
}

ul.top_menu .help_wrap .helper_num{
    display: block

}

.top_left.top_left_contract {
    box-shadow: none;
    position: relative;
    left:0;
    width: 65px !important;
}


/*top_logo_close, profile_close */

.top_left_contract .top_logo {
    min-width: 64.5px;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid #333;
    vertical-align: top;
    padding: 14px 0px 0px 15px;
       
}

.top_left_contract .top_logo img{
    width: 89px !important;
    height: 52px !important;
    text-align: center;
    padding-top: 5px !important;
    left: 2% !important;
    color: #212121;
    top: 0.3% !important;    
}

.top_left_contract .top_logo .slogo {
  display: none
}

.top_left_contract .top_logo a {
    color: #333;
}
.top_left_contract .per50{
    position: relative;
}

.top_left_contract .personInfoPhoto{
    background-color: #7fb375;
    padding:0;
}
.top_left_contract .personInfoPhoto .pic{
    text-align: center;
    padding-top: 10px;
    float: none;
    padding-right: 0;
}
.top_left_contract .personInfoPhoto .txtlist{
    text-align: center;
    float: none;
    padding-bottom:10px;
    width: 65px;
    padding-top: 3px;
    padding-left: 3px;
    /* padding-top: 60px; */
}
.top_left_contract .personInfoPhoto .txtlist .name,.top_left_contract .personInfoPhoto .txtlist .bnum{
    font-size: 12px;
    padding-left: 0;
    /* letter-spacing: -1.2px; */
    font-weight: 400;
}

.top_left_contract .personInfoPhoto .txtlist .name .user_info.dept_nm {
    display: none;
}

.top_left_contract .personInfoPhoto .txtlist .logout {
    font-size: 10px;
    margin-top: 4px;
}
.top_left_contract .txtlist .logout img{
    width: 12px;
    margin-left: 2px;
    margin-top: -2px;
}
.top_left_contract .personInfoPhoto .noti{
    display: block;
    margin-right: 18px;
    margin-top: -10px;
    position: absolute;
    top: -15px;
    left: 42px;
}

.top_left_contract .noti img{
    display: none;
}

.top_left.top_left_contract .noti_num{
    position: absolute;
    color: #fff;
    font-size: 8px;
    font-weight: 500;
    top: 27px;
    left: 3px;
}

/* 알림 표시대신 설정 아이콘 들어가서 임시로 주석 */
/* .top_left.top_left_contract .noti:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 40px;
    background-color: #d03534;
    position: relative;
    top: 16px;
    left: -6px;
} */


.top_left_contract .top_menu .top_menu_item{
    padding:0;
    border-bottom: 1px solid #212121;
    text-align: center;
}
.top_left_contract .top_menu .top_menu_item:hover{
    background-color: #181918;
    padding:0;
}

.top_left_contract .menu_icon {
    margin-right: 5px;
    margin-bottom: 15px;
}

.top_left_contract .top_menu .menu_name{
    font-size: 11px;
    font-weight:700;
    display: inline-block;
    letter-spacing: -1px;
}


.top_left_contract .top_menu .menu{
    background-repeat: no-repeat;
    background-size: 491px 782px;
    position: relative;
    padding: 0;
    height: 30px;
    float: none;
    margin-top: 0;
    left: 3px;
    top: 10px;
}

.top_left_contract .menu_title {
    margin-bottom: 15px;
}

.top_left_contract ul.top_menu .top_menu_item{
    line-height: 11px !important;
}

/* 공통  */
.top_left_contract .top_menu .menu_common {
    background-position: 0 -37px
}

.top_left_contract .top_menu .top_menu_item:hover .menu_common,.top_left_contract .top_menu .top_menu_item.active .menu_common {
    background-position: 0 0;
}

/* 서비스요청  */
.top_left_contract .top_menu .menu_request {
    background-position: 0 -111px
}

.top_left_contract .top_menu .top_menu_item:hover .menu_request,.top_left_contract .top_menu .top_menu_item.active .menu_request {
    background-position: 0 -74px;
}

/* ITAM  */
.top_left_contract .top_menu .menu_itam {
    background-position: 0 -185px
}

.top_left_contract .top_menu .top_menu_item:hover .menu_itam,.top_left_contract .top_menu .top_menu_item.active .menu_itam {
    background-position: 0 -148px;
}

/* 시스템  */
.top_left_contract .top_menu .menu_system {
    background-position: 0 -259px
}

.top_left_contract .top_menu .top_menu_item:hover .menu_system,.top_left_contract .top_menu .top_menu_item.active .menu_system {
    background-position: 0 -222px;
}

.top_left_contract .top_menu .help_wrap{
    width: 62px;
    text-align: center;
    position: absolute;
    display: block;
    bottom: 0;
    border-top: 1px solid #424242;
    background-color: #353535;
}

.top_left_contract .top_menu .help_wrap img{
    float: none;
}

.help_wrap img:hover{
    filter: invert(1);
}

.cty_help img{
    margin : 4px 7px 0px 5px;
    height: 20px;
    animation: cty_help_lotation 1.5s infinite;
}


@keyframes cty_help_lotation {
    100% {filter: hue-rotate(20deg)};
}


.cty_help {
    float: left;
}

.top_left_contract .top_menu .help_wrap .helper,.top_left_contract .top_menu .help_wrap .helper_num{
    display: none

}

.personInfoPhoto {
    padding-top: 10px;
    padding-left: 14px;
    top: 0px;
    left: 0px;
    background-color: #212121;
    height: 80px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.per50 {
    display: block;
    height: 60px;
    width: auto;
    border-radius: 40px;   
}

/* .per50 .pro_img{
    width: 55px;
    height: 48px;
    margin-right: 8px;
    margin-top: 1px;
    float: left;
    overflow: hidden;
    border-radius: 12%;
    box-shadow: 0px -1px 8px 5px #aeaeae7d;
} */

/* .profilePhoto {
    width: 55px;
    height: auto;
    transform: translate(0, -47%);
    position: relative;
    top: 51%;
} */

.top_left_contract .personInfoPhoto {
    height: 50px;
    padding-top: 8px;
    top: 0px;
    left: 0px;
    background-color: #303030;
}
.top_left_contract .pro_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: 7px;
}
.top_left_contract .profilePhoto {
    width: 50px;
    height: auto;
}

.family_site{
    width: 100%;
    background: #1c1c1c;
    bottom: 48px;
    position: absolute;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

/* 
.family_site .select_item {
    height: 30px;
}

.family_site .select_item select {
  color:#7fb375; 
}

.family_site .select_item option {
  color: #333 
} */

.noti:hover{
    color: #7fb375;
}

.noti{
    cursor: pointer;
}


.top_left.top_left_contract * * .logo_tit{
    font-size: 35px;
    margin-left: 5px;
}

.logo_tit {
    font-size: 40px;
    background: linear-gradient(#f8f8f8, #4a65c4);
    background: -webkit-linear-gradient(#f8f8f8, #4a65c4);
    background: -moz-linear-gradient(#f8f8f8, #4a65c4);
    background: -o-linear-gradient(#f8f8f8, #4a65c4);
    background: -ms-linear-gradient(hsla(0, 0%, 97%, 0), hsla(0, 0%, 97%, 0));
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 10px;
    -webkit-text-fill-color: transparent;
    font-style: oblique;
    font-family: 'Comic Sans MS', cursive;
    filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.812));
}

.family_site.closed{
    bottom: 30px;
    right: 1px;
    display: none;
}

.family_site.expand{
    display: table;
    position: absolute;
    color: #7fb375;
    font-size: 13px;
    font-weight: 600;
    left: 0px;
    animation: family_up 0.6s ;
    right: 1px;
    bottom: 30px;
}

@keyframes family_up {
    0% {transform:translateY(100%); opacity: 0.3;};
    20% {transform:translateY(70%); opacity: 0.5;};
    40% {transform:translateY(30%); opacity: 0.7;};
    100% {transform:translateY(0%); opacity: 0.8;};
}

.family_site * {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


.family_site_img {
    float: right;
    margin-top: 4px;
    /* opacity: 0.85; */
    filter: invert(1);
    height: 18px;
    transition: all 0.3s linear;
}

.family_site_img.close {
    transform: rotate(45deg);
}

.family_main {
    cursor: pointer;
    opacity: 0.8;
}

.family_main:hover {
    opacity: 1;
}

.family_site_tit {
    color: #7fb375;
    font-size: 13px;
    font-weight: 600;
}

.family_group {
    z-index: 100;
}

.family_label {
    border-bottom: 1px #7c7c7c solid;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    opacity: 0.8;
}

.family_list{
    padding: 0 10px;
    cursor: pointer;
    color: #b298c4;
    opacity: 0.8;
}

.family_list:hover{
    opacity: 1;
}


@media (min-width: 1700px) {
    .user_txt_box {
        position: absolute;
        left: 20em;
        top: 11em;
        font-size: 1.65em;
        font-weight: 800;
        color: #0e0d0e96;
        transform: rotateZ(8deg);
        display: flex;
        opacity: 0;
        background: url(img/ls_logo_wing.png) 98% no-repeat;
        background-size: 65px;
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        animation: opacityOpen 2s forwards;
    }
    
    p.user_dept{
        font-size: 16px;
        line-height: 30px;
        margin-left: 7px;
        transform: rotateZ(1deg);
        color: #ba8585;
    }
    p.user_nm {
        margin-left: 5px;
        margin-left: 5px;
        margin-right: 15px;
        filter: drop-shadow(5px 3px 2px #565151cc);
    }
}

@media (max-width: 1699px) {
    .user_txt_box {
        display: none;
    }
}

@media (min-width: 1024px) {
    .loginVideo {
        filter: saturate(0.2);
        z-index: -1;
        width: 100vw;
        position: absolute;
    }

    .loginbx {
        margin-left: -290px;
    }

}

@media screen and (max-aspect-ratio: 1219/685) {
    .loginVideo {
        width: auto;
        height: 100vh;
     }
}
 
@media (max-width: 1023px) {
    .loginVideo {
        filter: saturate(0.2);
        width: auto !important;
        height: 100% !important;
    }

    /* svg.recharts-surface {
        height: calc( 20em - -25px);
    } */
}

/* svg.recharts-surface {
    height: calc( 100% - -30px);
}
 */


.loginbtn:hover {
    background: #132e80;
}

.sys_logo {
    width: 320px;
    filter: hue-rotate(310deg);
    animation: sys_logo_lotation 2.5s infinite;
}



@keyframes sys_logo_lotation {
    100% {filter: hue-rotate(120deg)};
}

.srProcImg {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #7fb375;
}

.srProcImg .active:hover {
    filter: drop-shadow(1px 2px 3px #974193);
}

.srProcImg .active img {
    filter: drop-shadow(1px 2px 3px #0000009c)
}

.srProcImg .nonActive img {
    filter: drop-shadow(1px 2px 1px rgb(166, 166, 238)) grayscale(1);
}

.srProcImg .nonActive span:hover {
    color: #e9251e;
}

.srProcImg .srButn {
    width: 69%;
}


@media (min-width: 850px) {
    .srProcImg .active {
        display: grid;
        cursor: pointer;
        width: 8%;
    }
    .srProcImg .nonActive {
        display: grid;
        cursor: not-allowed;
        width: 8%;
    }

    .srProcImg img {
        filter: drop-shadow(1px 2px 1px rgb(166, 166, 238));
        padding-left: 18px;
        height: 35px;
    }    

    .srProcImg .active span {
        color: #020202de;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 12px;
        
    }

    .srProcImg .active.now span {
        color: #020202de;
        filter: drop-shadow(0px 2px 4px #d2691e);
        font-weight: 600;
        margin-top: 10px;
        margin-left: 12px;
    }
    
    .nonActive span {
        color: #c4c3c1;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 12px;
    }
}

@media (max-width: 849px) {
    .srProcImg .active {
        display: grid;
        cursor: pointer;
    }
    
    .srProcImg .nonActive {
        display: grid;
        cursor: not-allowed;
    }

    .srProcImg img {
        filter: drop-shadow(1px 2px 1px rgb(166, 166, 238));
        padding-left: 27px;
        width: 67%;
    }    

    .srProcImg .active span {
        color: #020202de;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 19px;
        font-size: 11px;
    }

    .srProcImg .active.now span {
        color: #020202de;
        filter: drop-shadow(0px 2px 4px #d2691e);
        font-weight: 600;
        margin-top: 10px;
        margin-left: 19px;
        font-size: 11px;
    }

    
    .nonActive span {
        color: #c4c3c1;
        font-weight: 600;
        margin-top: 10px;
        margin-left: 12px;
        margin-left: 25px;
        font-size: 11px;
    }
}

.main_tit {
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    padding-top: 10px;
    cursor: default;
    margin-bottom: 5px;
    margin-right: 5px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height: 30px;
}

.main_tit:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 4px;
    height: 20px;
    background-color: #7fb375;
    margin-right: 5px;
    margin-top: -2px;
}

.main_middle {
    padding: 3px 0px 0px 0px;
}

.main_enter_img {
    height: 21px;
    float: right;
    cursor: pointer;
}

.main_enter_img:hover {
    transition: 2s;
    filter: hue-rotate(214deg);
}

.main_todo_odd {
    margin: 2px 0px 0px 0px;
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    padding-bottom: 2px;
    cursor: pointer;
    overflow-x: hidden;
}

.main_todo_odd:hover {
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
}

.main_todo_even {
    margin: 2px 0px 0px 0px;
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    padding-bottom: 2px;
    cursor: pointer;
    overflow-x: hidden;
}

.main_todo_even:hover {
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
}

.main_todo_txt {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 980px) {
    .reviewImg {
        left: 88%;
        position: absolute;
        z-index: 100;
        top: 6%;
        height: 115px;
        opacity: 0.7;
        filter: hue-rotate(5deg) drop-shadow(0px 0px 2px black);
    }
}

@media (max-width: 979px) {
    .reviewImg {
        visibility: hidden;
        width: 0px;
    }
}

.tip {
    padding: 5px;
    margin: 3px;
}

.tip div {
    min-width: 50px !important;
}

.tip_tit {
    font-size: 13px;
    color: #b38989;
    font-weight: 800;
}

.tip_txt {
    margin: 5px;
    font-weight: 700;
    font-size: 13px;
}

.wing {
    position: absolute;
    left: -92%;
    height: 5em;
    width: 9em;
    top: 3.6%;
    transform: rotate3d(46, 132, 25, 4deg);
    opacity: 0;
    animation: opacityOpen2 3.5s forwards;
    animation-delay: 5s;
    z-index: 9;
    filter: drop-shadow(4px 4px 2px rgb(136, 90, 90));
}

.main_noti_head {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ce3131;
}

.main_noti_contents {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.main_noti_header {
    padding-bottom: 6px;
}

.main_noti_middle {
    padding-top: 3.5px;
    cursor: pointer;
}

.main_noti_middle:hover {
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
}

.main_noti{
    margin: 2px 0px 0px 0px;
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(247 243 249 / 91%) 90%);
    padding-bottom: 2px;
    cursor: pointer;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main_noti:hover {
    background: linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -webkit-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -moz-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
    background: -o-linear-gradient(157deg, rgb(248 255 254 / 56%) 0%,rgb(245 215 236 / 91%));
}


@media (max-width: 1249px) {
    .weather_item {
        display: none;
    }
}

.tip .tip_txt_contents {
    max-height: 620px;
    width: 900px;
}

.tip_txt_contents img {
    display: none;
}

.unauthorized-layout {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.home_contents {
    margin-top: 2em;
}

.main_middle.empty {
    background: url(img/ico_box.png) no-repeat 50% 70%;
    box-shadow: none !important;
    background-size: 120px;
    height: calc(100% - 50px) !important;
    filter: opacity(0.7) drop-shadow(1px 1px 5px #584a4a);
}