
.contents_wrap {
    padding: 6px 10px;
    background-color: #fff;
    overflow: hidden;
}

.home_layout .contents_wrap::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}    


@media (max-width: 1023px) {
    .contents_wrap::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }    

    .contents_wrap {
        overflow: scroll;
        -ms-overflow-style: none;
    }

    .basic::-webkit-scrollbar {
        display: none;
        width: 0 !important;
    }    

    .basic {
        overflow: scroll;
        -ms-overflow-style: none;
    }
}


.pop_panel_body .contents_wrap .contents_wrap{padding:0;}
.contents_wrap .pop_panel_body .contents_wrap{padding:0;}

.contents_wrap[type="shadow"] {
    /* box-sizing: border-box;
    border-style: solid;
    border-image: linear-gradient(to right bottom, transparent, #bac2c8 100%);
    border-image-slice: 1;
    border-image-width: 0 2px 2px 0;
    border-top: none;
    border-left: none; */
}

.middle_wrap+.contents_wrap[type="shadow"] {
    border-top: none;
}
/* 
.pop_panel_body .contents_wrap .contents_wrap {
    box-shadow: none;
} */

.pop_panel_body .contents_wrap {
    border: none;
    box-shadow: none;
}