.middle_wrap {    
    padding:8px 10px 0 11px;
    overflow: hidden;
    background: #fff;
    line-height: 0px;
    min-height: 37px;
    width: 100%;
    height: auto;
    box-shadow: inset -2px 2px 4px 0px rgb(223 224 233);
}

.ag-theme-balham .middle_wrap {
    border: none;
    box-shadow: none;
}

.contents_wrap {
    padding: 6px 10px;
    background-color: #fff;
    overflow: hidden;
	min-height: 400px;
}

.sub_tit {
    font-size: 14px;
    font-weight: 900;
    float: left;
	letter-spacing:-1px;
	padding-top:11px;
    cursor: default;
    margin-bottom: 3px;
    margin-right: 5px;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

@media (max-width: 350px) {
    .sub_tit {
        font-size: 3.7vw;
        font-weight: 900;
        float: left;
        letter-spacing:-1px;
        padding-top:11px;
        cursor: default;
        margin-bottom: 3px;
        margin-right: 5px;
    }   
}

.sub_tit:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 13px;
    background-color: #7fb375;
    margin-right: 5px;
    margin-top: -2px;
}

.chart_sub_tit {
    font-size: 15px;
    font-weight: 900;
    width: 100%;
    padding-top: 10px;
    cursor: default;
    margin-right: 5px;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.chart_sub_tit:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 4px;
    height: 20px;
    background-color: #3412ce85;
    margin-right: 5px;
    margin-top: -2px;
}

.sub_tit_desc {
    float: left;
    display: inline-table;
    line-height: 22px;
    margin-right: 2px;
}

.btn_wrap {
    float: right;
}

.btn_wrap li {
    display: inline-block;
    margin-left: 3px;
}

.btn_wrap li button i {
    margin-left: 2px;
}


.left_btn_wrap {
    float: left;
}

.left_btn_wrap li {
    display: inline-block;
    margin-right: 3px;
}

.btn_align_center {
    display: flex;
    justify-content: center;
}

.btn_align_center li {
    margin-left: 3px;
    margin-top: 3px;
}

.btn_align_center li button i {
    margin-left: 2px;
}

.btn_red {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 0; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    white-space: nowrap;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    font-weight: bold;
	
    color: #e64a19;
    border: 1px solid #e64a19;
	float:right;
}

.btn_blue_c{ 
    display: inline-block;
    margin-bottom: 0; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    white-space: nowrap;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    background: #4093c3;
    color: #fff;
    border: 1px solid #4093c3;
	float:right;
}
.btn_dblue{ 
    display: inline-block;
    margin-bottom: 0; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer; 
    white-space: nowrap;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 20px;
    height: 22px;
    background: #434f5f;
    color: #fff;
    border: 1px solid #434f5f;
	float:right;
}

/* 20200218 추가  */

.tab_button_item {
    float: right;
    margin-top: 3px;
}

.tab_button_item li {
    display: inline-block;
    margin-left: 3px;
}

.contents_wrap .page_table {
    background: #fff;
}
.contents_wrap .page_table table{
    border-top: 2px solid #7fb375;    
    border-bottom: 1px solid #BDC3C7;
    border-left: 1px solid #BDC3C7;
    border-right: 1px solid #BDC3C7;
    width: calc(100% - 20px) !important;
    margin: 6px 10px;
}
/* .contents_wrap .page_table table .textarea{
    margin-bottom: -3px;
} */

.contents_wrap .page_table table th, .contents_wrap table .th {
    font-weight: bold;
    padding: 4px 0 4px 8px;
    background: #f5f7f7;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.contents_wrap .page_table table tr {
    border-bottom: 1px solid #eaeaea;
}
.contents_wrap .page_table table td {
    padding-left: 2px;
    padding-right: 2px;
    border-right: 1px solid #ddd;
}
.contents_wrap .page_table table tr:first-child td {
    padding-top: 1px;
}
.contents_wrap .page_table table td:last-child{
   border-right: none;
}
.contents_wrap .page_table .middle_wrap{
    /* padding: 3px 0 3px 0; */
    /* padding: 3px 8px; */
}



.contents_wrap .page_table .middle_wrap .sub_tit{
    padding-top:10px;
}

/* 운전조건 */
#category2_condition{
    padding: 0 !important;
}

.middle_wrap .linked {
    float: left;
}

.middle_wrap .linked label {
    line-height: 22px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* .linked label {    
    display: inline;
    float: left;
} */

@media (min-width: 1100px) {
    .middle_line {overflow:hidden;width: 100%;}
}
@media(max-width: 1100px){
    .middle_line {overflow:hidden;width: 80%; }
}
@media(max-width: 1000px){
    .middle_line {overflow:hidden;width: 66%;}
}

@media (min-width: 1100px) {
    .middle_line_wrap {overflow:hidden;width: 100%;}
}
@media(max-width: 1100px){
    .middle_line_wrap {overflow:hidden;width: 100%; }
}
@media(max-width: 1000px){
    .middle_line_wrap {overflow:hidden;width: 100%;}
}

.up_down_warp {
    margin-left: 3px;
}

.up_down_icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 21px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: bottom;
    margin-top: 1px;
}

.updown {
    font-size: 23px;
    color: #578c4d;
}

.middle_wrap .btn_wrap {
    padding-top: 1px;
}

.category_desc .middle_wrap .btn_wrap {
    padding-top: 8px !important;
}

.category_desc .middle_wrap {
    display: inline-grid;
}