.search_wrap {
    padding: 10px 3px 5px;
    background-color: #fff;
	margin-bottom: 5px;
    box-shadow: inset -2px 0px 5px 1px rgb(223 224 233);
}

.tab_content .search_wrap {
	margin-bottom: 0px !important;
}

.search_wrap[type="shadow"] {
    /* box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 5px;
    border-top: none;
    border-left: none; 
    border-radius:5px; */
}

.pop_panel_body .search_wrap {
    border: none;
    box-shadow: none;
}

@media (min-width: 1100px) {
    .search_line {overflow:hidden;}
}

@media(max-width: 600px){
    .search_line {overflow:hidden;width: 100%; padding-top: 3px;}
}

.search_line_wrap {overflow:hidden;width: 100%;}

