.image_items {
    margin: 1px 0;
    float: right;
}

.image_item {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 2px 0 0;
    cursor: pointer;
    border: 1px #ddd solid;
    display: block;
    text-align: center;
    line-height: 50px;
}

.image {
    margin: 2px auto;
    display: inline;
    vertical-align: center;
}