.check_box_warp{
    /* padding-left: 30px; */
}
.check_box {
    display: inline-block;
    margin-left: -5px;
}
.check_box input[type="checkbox"],
.check_box input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.check_box input[type="checkbox"] + label:before,
.check_box input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: -2px 6px 0 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d4d5d8;
    background-color: #fff;
}

.check_box input[type="checkbox"]:checked + label:before,
.check_box input[type="checkbox"]:checked + label:before {
    content: '\2713';
    color:  #7fb375;
    text-shadow: none;
    border-color: #7fb375;
}

.search_wrap .check_item {
    float: left;
}

.linked .check_item {
    display: inline;
    float: left;
}

table .check_item {
    float: left;
}

@media (max-width: 400px) {  
    table .check_item {
        float: left;
        display: contents;
    }
}