/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

.quill {
    height: 100%;
    background: white;
}

.ql-container {
    /* height: auto !important; */
    height: calc(100% - 42px) !important;
  }

.ql-editor {
    /* height: 100% !important; */
}

.ql-editor p strong {
    font-weight: bold;
}

.quill-blur {
  display: none;
}
@media screen and (min-width: 0) and (max-width: 991px) {
  .edit-focus .quill {
    position: absolute;
    top: 0;
    height: 226px;
    overflow: hidden;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
  }
  .edit-focus .quill-blur {
    display: block;
    position: absolute;
    top: 226px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
  }
  .edit-focus .ql-editor {
    height: 160px;
    border-bottom: 1px solid #ccc;
  }
  .edit-focus .navbar {
    display: none;
  }
  .edit-focus .main-panel {
    padding: 0 !important;
  }
  .edit-focus .main-panel .main-content {
    min-height: unset !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.ql-editor table tbody td {
    border: 1px solid black;
}

.fr-sticky-off{
  /* border-top: 1px solid #7fb375 !important; */
}

.fr-box {
    display: flex;
    height: calc(100% - 5px) !important;
    flex-direction: column;
}
.fr-box.fr_wrapper {
    flex: 1;
}
.fr-box.fr_wrapper.fr-element {
    min-height: 100%;
}

.fr-popup {
    z-index: 100000 !important;
}

.fr-toolbar {
  border-radius: 0px !important;
}

.fr-line-breaker.fr-visible {
  display: none !important;
}

.fr-buttons.fr-tabs {
  display: none !important;
}

.fr-box.fr-basic .fr-wrapper {
  border: 1px solid #ddd;
}

.fr-second-toolbar {
  border: 1px solid #ddd;
    border-top: 0;
    background: #FFF;
    line-height: 1.4;
    border-radius: 0 0 0px 0px !important;
    -moz-border-radius: 0 0 0px 0px !important;
    -webkit-border-radius: 0 0 0px 0px !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.fr-wrapper {
  min-height: 50px;
}

.fr-element.fr-view table tbody {
  border-right: 1px solid #ddd !important;
}